[2016-02-01 20:25] zephiro opened #1 "Uncaught TypeError: stream.stop is not a function"
How to set language? in code?

[2016-02-01 22:21] #1 closed

[2016-02-01 22:21] zephiro opened #2 "Uncaught TypeError: stream.stop is not a function"
Click Stop No work

[2016-02-02 02:21] germanattanasio commented on #2
which version are you using? how did you build the project ?

[2016-02-11 14:04] cfjedimaster opened #3 "examples/package.json invalid json"
Can't `npm install` the example due to syntax error in package.json - trailing comma after node token-server.js

[2016-02-11 15:08] #3 closed

[2016-02-29 14:52] nfriedly opened #4 "Doesn't work on Chrome on android"
STT on https://speech-to-text-demo.mybluemix.net/ (no SDK) works on chrome on android, but http://speech-dialog.mybluemix.net/ (using the SDK) doesn't. User agent:

Audio playback doesn't seem to work on either, although http://caniuse.com/#feat=audio reports that it should - perhaps it requires user interaction to play?

[2016-03-04 20:20] jamesmgg opened #5 "npm run test fails"
npm ERR! Darwin 14.5.0
npm ERR! argv "/usr/local/Cellar/node/4.2.1/bin/node" "/usr/local/bin/npm" "run" "test"
npm ERR! node v4.2.1
npm ERR! npm  v2.14.7
npm ERR! code ELIFECYCLE
npm ERR! watson-speech@0.13.1 test: `karma start test/resources/karma.conf.js --single-run`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the watson-speech@0.13.1 test script 'karma start test/resources/karma.conf.js

[2016-03-04 20:36] jamesmgg commented on #5
@nfriedly This command might be blowing up because of this missing test file:
{ [Error: Cannot find module '../test/resources/stt-auth.json'] code: 'MODULE_NOT_FOUND' }

[2016-03-04 21:14] nfriedly commented on #5
Yep, sorry. That file is required for the "real" integration tests, but it also supports an "offline" test mode that should work without the file. I'll send you a copy of it on slack, it just can't get checked in. (And I should really convert it to use .env for both the tests and the examples)

[2016-03-16 11:47] nfriedly commented on #5
I believe this is fixed now

[2016-03-16 11:47] #5 closed

[2016-03-17 21:29] #2 closed

[2016-03-29 17:25] nfriedly opened #7 "developer experience checklist"
- [ ] make sure it scales, it could be in the front page of reddit
   * Mainly looking at page weight: Shoot for 2-3mb max and rendering in 5 sec or less.
   * Test with dev tools throttling to 3G speeds and make sure things are still reasonable.
- [ ] Add google analytics
- [ ] blue-green deployment + travis (see [this](https://github.com/IBM-Bluemix/cf-deployment-tracker-service))
- [x] testing

[2016-05-19 16:23] nfriedly commented on #7
Closing as these are more applicable to demos than SDKs

[2016-05-19 16:23] #7 closed

[2016-05-19 16:24] nfriedly commented on #4
This was due to http vs https issues (chrome blocks mic access over http unless you're on localhost). Not a bug in the library.

[2016-05-19 16:24] #4 closed

[2016-05-20 15:17] darkyen opened #8 "downsampling algorithm used?"
Can you link the downsampling algorithm used?

[2016-05-20 15:44] nfriedly commented on #8
@daniel-bolanos wrote that, I just imported it from the current STT demo app. Dani, can you provide any details here?

[2016-05-20 16:10] daniel-bolanos commented on #8
We are just applying a filter to the signal. We apply a window to the samples, from left to right, and then apply the filter. It is pretty efficient and it carries over samples across buffers, so it might be slightly better than the filter provided by WebAudio. I noticed that the WebAudio filter was not available in older browsers so we dicided to stick to our downsampling. But in the long term th

[2016-05-20 16:32] darkyen commented on #8
I am trying to upsample the resultant stream on server. Any pointers?

[2016-05-20 16:43] daniel-bolanos commented on #8
I'm glad the implementation is useful to you. Why do you need upsampling?

[2016-05-20 16:47] darkyen commented on #8
@daniel-bolanos Need to mix it with another audio stream, I intend to use libresample later on server and more C++ land code for mixing audio. But for now most of that code is in JavaScript for rapid prototyping

[2016-05-20 17:15] daniel-bolanos commented on #8
we got the inspiration from matlab, I think our filter is a version of one filter we found there, but shorter. If I remember correctly. Please take a look at matlab's manual...

[2016-05-20 17:34] darkyen commented on #8
Thanks :-), just finished up sampling :+1:

[2016-05-20 17:34] #8 closed

[2016-06-22 21:16] nfriedly opened #10 "recognizeMicrophone does not propigate errors from the RecognizeStream to the FormatStream"
.. and so they are thrown even if you set an `on('error', ...)` listener. The inactivity_timeout error is one example of this.

`recognizeFile` probably has the same issue.

Set `format: false, realtime: false` to work around it for now.

[2016-07-13 20:36] krhoyt opened #11 "Unnecessary Decoder Write"
From my application, I am using code along these lines ...

[code]

In the "data" event, I use "console.log( data )" and get [object Object].  Placing a breakpoint there, and tracing it backwards into the SDK code, I found that given the settings above, that there's an attempt to "decode" the result, when there is no need to actually decode the result - it has already been decoded, and is ready to

[2016-07-14 20:09] nfriedly commented on #11
Good catch, that decode is in the node.js core library (via browserify), but it should be bypassed when in objectMode, so I'll have to see what is going on. Thanks for the report.

[2016-07-16 02:11] bradennapier opened #12 "How to handle re-authentication"
So we will need to fetch a new token after a hour it would appear.  What is the recommended method of discovering that a new token is needed from the server so the request can be made?  It does say a hour but that current sessions are not affected so it may not even matter (I am returning a ttsToken when session starts)

[2016-07-16 02:35] nfriedly commented on #12
Currently I'd say just do a setTimeout or setInterval to proactively refresh the token, although I'm still looking into what would be an ideal solution.

[2016-07-19 20:31] dritsher opened #13 "Cleaning %HESITATIONs"
A really tiny fix, but if a %HESITATION is at the end of a sentence, it won't be replaced by an ellipsis.

Better to change:
var reHesitation = /%HESITATION\s/g; // when the service tetects a "hesitation" pause, it literally puts the string "%HESITATION" into the transcription

to:
var reHesitation = /%HESITATION/g; // when the service tetects a "hesitation" pause, it literally puts the string "%H

[2016-07-19 20:49] nfriedly commented on #13
Doh, good catch. Do you think you can send me a PR with a test and a fix?

[2016-08-17 19:08] baarongit opened #14 "Custom Language Modeling and recognizeElement"
http://stackoverflow.com/questions/39004133/watson-nodejs-speech-to-text-train-language-model

I have been using watson-speech@^0.7.5 to generate subtitles for streaming videos (HLS) for sporting customers.

Further, I have been able to train language models.

I would like to use recognizeElement and my customization_id for my trained language model. However, I have 2 problems:

1) I think recogni

[2016-08-17 20:33] nfriedly commented on #14
Closing, see http://stackoverflow.com/questions/39004133/watson-nodejs-speech-to-text-train-language-model & #15

[2016-09-12 14:34] nfriedly opened #16 "Try to make playback work in Safari"
(desktop and ios)

http://blog.gopherwoodstudios.com/2012/07/enabling-html5-audio-playback-on-ios.html may be helpful

[2016-09-12 14:34] #14 closed

[2016-09-13 19:49] #13 closed

[2016-09-13 19:57] nfriedly commented on #11
Op, sorry it took a while, but I figured out what's happening. This line puts it into `objectMode`:

So, it's trying to output Objects. But, this line forces it to convert all output to strings before passing it to you:

So, it does as instructed and converts the objects to strings. This is how you get the `"[object Object]"` output.

If you remove either of those lines, it should work closer to w

[2016-09-13 19:57] #11 closed

[2016-09-16 10:51] maheshrevanwarPSL opened #17 "not emitting error event"
I am using .recognizeMicrophone function
`stream = WatsonSpeech.SpeechToText.recognizeMicrophone({
                token: token,
                continuous: false,
                outputElement: '<css selector>',
                content_type: 'audio/wav'
            });`

I have added a "Push to Talk" button [When user click on it this button it will start recording till the button get released] b

[2016-09-16 20:44] nfriedly commented on #17
Hi @maheshrevanwarPSL

I think that the error not being emitted is the same as #10, which I have an idea for how to resolve but haven't yet been able to implement it.

However, the cause of the error is this line: https://github.com/watson-developer-cloud/speech-javascript-sdk/blob/master/speech-to-text/recognize-stream.js#L407 should really just check that the state is `OPEN` rather then checking

[2016-09-19 07:49] maheshrevanwarPSL commented on #17
Hi @nfriedly,

Thanks for your valuable inputs.

As you have suggested the code change, I have done that change locally, but this change only take care of first error.

Could you please guide me for other 2 errors that I have mentioned in my previous comment.

Regards,
Mahesh Revanwar

[2016-09-19 18:28] nfriedly commented on #17
Hum, I was thinking that change would resolve all of the errors. I'll try and look at this more once I get a chance, but for now, I think you can just ignore those errors.

[2016-09-22 06:28] kushan-chinthaka commented on #17
Hi @nfriedly,

I have been working on this issue for few days now. I would prefer, if you allow me to create a branch for committing only the fix, you mentioned. Furthermore, I was struggling to create a test case for the first issue, but it is still challenging to make the socket in CONNECTING state while the test is running and if you have any idea on that let me know.

The mentioned fix does no

[2016-09-29 01:10] kushan-chinthaka commented on #17
Hi @nfriedly,
I invested more time on the second part of the issue as well. I did following tests to capture the error event emitted by the socket from recognize-microphone.js and recognize-stream.js.

Test1. Add an event listener to recognize-microphone.js
[code]

Test2. Add an event listener recognize-stream.js

Test3. Emit a new error event from recognize-stream.js and capture it from recognize

[2016-10-02 16:21] kushan-chinthaka commented on #17
Hi @nfriedly,

Further investigating the issue, I was able to come up with a fix for this as I explained below.

**Issue:** Error event is not propagated to the front facing HTML file from socket timeouts and other error scenario. https://github.com/watson-developer-cloud/speech-javascript-sdk/issues/17

[code]

**Root-cause:** EventEmitter reference is assigned to a different reference because th

[2016-10-02 17:03] germanattanasio commented on #17
This is amazing @kushan-chinthaka! Thanks for helping with this issue

[2016-10-04 17:47] nfriedly commented on #17
Yes, I believe you are correct. Can you for, the repo and send a pull request with the change?

[2016-10-06 12:31] kushan-chinthaka commented on #17
PR created.
https://github.com/watson-developer-cloud/speech-javascript-sdk/pull/18

[2016-10-06 13:56] nfriedly commented on #17
Cool, I'll take a look at it today. Thanks for working on this!

[2016-10-06 15:41] #10 closed

[2016-10-06 15:41] #17 closed

[2016-10-18 18:21] silverbackis opened #20 "inactivity_timeout - no event fired"
It'd be good for an event to be fired when the inactivity_timeout is reached. That way we could change the button to unselected again and set variables so we know that we are no longer listening to the microphone. This is for when using the recognizeMicrophone method.

I can see that the timeout is simply submitted to the service, so perhaps it'd be best to simply write the timeouts on my side, wh

[2016-10-18 19:04] silverbackis opened #21 "Browser Bug Fix - No activity times out after 5 secs"
I believe this SDK suffers with the same issue outlined here:
https://support.mozilla.org/en-US/questions/984179

Where because some part of the audio stream needs to be global to stop the microphone from stopping automatically after a few seconds of inactivity.

I've added to line 18:

[code]

And changed:

[code]

to:

[code]

Now the microphone will continue to record until you'd like it to sto

[2016-10-19 09:21] silverbackis opened #22 "Invalid token not calling error event"
When I submit an invalid token to test catching if a token I'm using has expired, an error appears in the console. To create a more responsive experience I didn't want to generate a new token every time the microphone starts to make sure it's valid, i'd rather use the first token generated that will take an hour to expire. It would be good if this error being thrown could also trigger the error ev

[2016-10-19 09:25] silverbackis commented on #22
Sorry, this is also linked to this issue: https://github.com/watson-developer-cloud/speech-javascript-sdk/issues/12

Perhaps my suggestion is not the best, I just assumed that the error I was getting should have been caught. Thanks again.

[2016-10-19 12:05] silverbackis commented on #21
I'm pretty sure it's related to the same issue, but sometimes the browser will just stop recording when I restart the mic. I'm trying to use this with a Watson Conversation, I'm not sure if there are any other known browser bugs that could resolve this or I'll just have to wait.

I don't really want to use the keepmic option because the recording icon will stay in the browser tab and could make th

[2016-10-19 15:27] nfriedly commented on #20
In the timeout case, I believe it emits an `error` event with `Error: No speech detected for 30s.` (the service itself treats this as an error, so I don't think the SDK should treat it differently.)

It should also fire the standard `end` event once all data is consumed (immediately after the `error` in the case of a timeout with no text whatsoever returned).

The RecognizeStream also emits a stan

[2016-10-19 15:32] nfriedly commented on #21
Oh, it looks like Firefox finally fixed the bug where the microphone icon remained even after recording ended.. but now we have this one.

This week is pretty packed for me, but I'll try to look at this more next week. Feel free to send me a PR if you work this out before I do.

[2016-10-19 15:34] nfriedly commented on #22
I think invalid token should probably trigger an `error` event, then standard error handling can kick in to capture it. I'll try and look at this next week too.

[2016-10-19 16:40] silverbackis commented on #20
Great, I've just checked this out. In a timeout an error is thrown but the error event is not fired. It's just an uncaught error.
`Uncaught Error: No speech detected for 2s.`
It'd be great if it can fire the error event. Also clicking to start and stop very quickly threw this error which was uncaught too, it may be related:
`Uncaught Error: Stream was 0 bytes but needs to be at least 100 bytes.`

[2016-10-19 16:50] silverbackis commented on #21
Now I know about the `end` event from another issue you've responded to I can see that although it stop unexpectedly too soon when the user may be quiet for a short while, the event fires, so I can detect that the microphone should not have stopped and restart it. I'll be able to not restart it if the timeout is reached as well once the other issue is resolved - still unsure why it'd stop sooner t

[2016-10-19 16:50] silverbackis commented on #22
Thanks, the workaround is doing it's job for now so no great rush :)

[2016-10-19 17:45] nfriedly commented on #20
There were some issues with the error event that were just fixed in the last week or two - are you on the latest release (v0.20.3 as of today), and if not, are the errors still uncaught after upgrading?

[2016-10-19 17:57] silverbackis commented on #20
Perfect, that is fixed as of today's release. Thanks!

[2016-10-19 17:57] #20 closed

[2016-10-19 19:31] silverbackis commented on #22
Great news! Today's update fixed this as well it seems. It triggers an error event.

To also capture the close event after this:
[code]

Could just add this:
[code]

And modify `this.socket.onclose` function as above to give a readable error message if you want. Then the 'close' event will fire with the info to know why the stream was closed (1006, unexpected)
`stream.on('close', closeFunction);`

[2016-10-19 19:52] silverbackis commented on #22
Propagating the connect function is quite useful for me too so I can update user visually if I want:
[code]

[2016-12-12 05:57] ddddm opened #23 "iOS Safari bug with Websockets"
iOS Safari has this [bug](https://bugs.webkit.org/show_bug.cgi?id=139298) opening a WebSocket connection. In this case, empty ```Content-type``` header in Watson response appears to cause the problem. This is an issue in iOS 9 and iOS 10.

I have a Cordova app, in which I've managed to pipe microphone output to the WebAudio node ([cordova-plugin-audioinput](https://github.com/edimuj/cordova-plugin

[2016-12-12 13:56] nfriedly commented on #23
Hi @ddddm, let me look into this and talk to the team and get back to you.

@daniel-bolanos Is this something you're aware of?

[2016-12-12 16:48] nfriedly commented on #23
Hey @ddddm - can you get me a complete copy of the headers? In my testing, I'm not seeing any content-type header set at all, but I'm not testing on an iOS device.

I have a suspicion that the long URL may be part of the issue. The Watson service also accepts the token in a `X-Watson-Authorization-Token` header or in a cookie - is it possible to set either of these on iOS Safari?

[2016-12-12 16:50] daniel-bolanos commented on #23
@nfriedly yes, I remember this issue, there was a thread about it with more details, I wish I could find it...

Dani

[2016-12-13 13:27] ddddm commented on #23
Yeah sure @nfriedly!

I can't give you headers from iOS because the request never happened according to Safari DevTools:
![2016-12-13_17-54-50](https://cloud.githubusercontent.com/assets/3530727/21141762/b3e9b67e-c160-11e6-802f-adbb1af5d276.png)
But the error exists:
![2016-12-13_17-56-11](https://cloud.githubusercontent.com/assets/3530727/21141786/dc460f96-c160-11e6-8647-68f8475f1a4a.png)

From a

[2016-12-13 16:22] nfriedly commented on #23
Hum.. I had checked in firefox and I didn't see that but now that I'm trying in chrome, I also see the empty Content-Type header. I think either the service is sending different headers or (more likely) firefox is not correctly displaying the empty header.

@daniel-bolanos is this something that the team can take a look at - either not setting content-type at all, or else setting it to something l

[2016-12-13 19:19] germanattanasio commented on #23
Can this be related to the problem where the (authorization token) > max safari url length ??

[2016-12-13 19:32] nfriedly commented on #23
That might be a problem too @germanattanasio, but the service does appear to be sending an odd, perhaps even invalid header which we should probably handle first.

[2016-12-20 20:50] leandrodvd opened #24 "Error Uncaught TypeError: Cannot read property 'map' of undefined at example microphone-alternatives.html"
Hi,

I'm running the example code microphone-alternatives.html and I got this error in the console (and get no result on screen). I'm using chrome for this but there is a similar error on firefox.

microphone-alternatives.html:52 Uncaught TypeError: Cannot read property 'map' of undefined
    at FormatStream.<anonymous> (microphone-alternatives.html:52)
    at FormatStream.EventEmitter.emit (event

[2016-12-20 21:02] leandrodvd opened #25 "Speech to Text in different languages"
How can I use Speech to Text (recognizeMicrophone or recognizeFile) for a different language ? NodeJS sdk has a 'model' parameter where language is specified, what is the equivalent here in this javascript sdk ?

[2016-12-21 17:10] ddddm commented on #23
@nfriedly  @daniel-bolanos any updates on this?

[2017-01-03 16:20] nfriedly commented on #23
I believe the service team will remove the empty content-type header in an upcoming release, but I'm not sure of the timing.

[2017-01-03 16:53] nfriedly commented on #25
Hi @leandrodvd ,

The parameter is also named `model` in this SDK - see an example here: https://github.com/watson-developer-cloud/speech-javascript-sdk/blob/master/examples/static/microphone-streaming-model.html

[2017-01-03 16:53] #25 closed

[2017-01-20 20:20] mreinstein opened #26 "is stream bifurcation possible?"
My app transcribes audio, but also does a bunch of other processing on the side (sentiment analysis, etc.) I want the speech-to-text to display as quickly as possible in the app, but I also want to save the raw audio on my server for analysis which happens later.

I was thinking maybe this could be done by getting at the underlying mediaStream used by this sdk, and send the audio data in parallel

[2017-01-20 21:36] nfriedly commented on #26
Yes, you can do that.

At the moment, the source audio stream is not available when you use the `recognizeMicrophone()` or `recognizeFile()` helper methods, but all they are is helpers. You can copy the source (e.g. https://github.com/watson-developer-cloud/speech-javascript-sdk/blob/master/speech-to-text/recognize-microphone.js) into your own app, and then save a copy of the raw audio by either `

[2017-01-20 21:36] #26 closed

[2017-01-21 00:05] mreinstein commented on #26
so if i understand, you're saying use `recognize-microphone.js` as a high-level template, make my own copy and then hook up any additional stream handling to pipe the audio somewhere (my own servers) ?

btw I'm impressed with how clean the design is for this repo. I was expecting a nightmare when I first started peering at the source, and it's a pleasant surprise to see how thought-through it is.

[2017-01-23 15:11] nfriedly commented on #26
Yep, exactly. And, of course, feel free to delete any bits you don't need.

Thanks!

[2017-01-24 02:37] mreinstein commented on #26
@nfriedly does this look like a reasonable approach to modifying the API?

https://github.com/mreinstein/speech-javascript-sdk/commit/31204d5a4d3f6671c0df4614c8511e38cd85aa02

with the above modification, can adjust the call to `recognizeMicrophone()` like this:

[code]

I realize this is very rough at the moment (very little error checking, no docs, etc.) but if this seems like a reasonable appro

[2017-01-24 16:18] nfriedly commented on #26
@mreinstein That looks perfectly fine for your use case.

I'd ask for some changes for a PR, though:
* Use Promises rather than callbacks for the public API
* Add JSDoc for the parameter
* It should expose all streams rather than just this one
  (I know that's a bit hypocritical given that it already exposes the recognizeStream, but that's essentially an undocumented hack for the [demo app's](http

[2017-01-24 17:40] mreinstein commented on #26
@nfriedly

Correct me if I'm mistaken... I'm under the impression that Promises are appropriate when you have an event that fires exactly 1 time, and callbacks are appropriate when you have an event that fires 0 or more times. given this code:

[code]

If I transcribe twice, `yes this is definitely fired` will show up twice in the logs. As it should, because I'm not keeping the microphone, and a s

[2017-01-24 20:32] nfriedly commented on #26
What I had in mind was something like this for the public API:

[code]

In that case, it would still log `yes this definitely fired` to the console twice if you ran that code twice.

Internally, it already creates a new `getMicStream` promise each time you call `recognizeMicrophone()`, so what I'm imagining is that https://github.com/watson-developer-cloud/speech-javascript-sdk/blob/master/speech-

[2017-01-24 20:45] mreinstein commented on #26
Yes. Sorry. I misread the logic in the `recognize-microphone`. In actuality this would return exactly once for each event, and a promise could be used.

I agree. The structure of this module does not currently lend itself to getting at one of the streams that is in the middle of this pipeline. It feels messy to bolt this on.

While we're on the subject of complexity..one thing I've noticed is the

[2017-01-24 22:04] nfriedly commented on #26
Yea.. smaller file size would be good. I ran it through [disc](https://www.npmjs.com/package/disc) a while back to look for low hanging fruit; I should probably do that again soon. But ultimately you're right, building on top of Node.js streams does add a fair bit of overhead.

The [old demo](https://github.com/watson-developer-cloud/speech-to-text-nodejs/tree/v1) that the downsampling and other c

[2017-01-25 21:08] mreinstein commented on #26
@nfriedly mulling over this more, I have an alternative refactor idea, which I think is cleaner:

How about in the constructor it could take in an optional mediaStream which has already been acquired? If present it would not attempt to acquire one inside `recognizeMicrophone`. That would enable me to get at the mediaStream object and hook up my own stuff to it, without impacting the API that `reco

[2017-01-26 15:46] nfriedly commented on #26
Oh, yea, I like that a lot better. Good thinking.

[2017-01-29 05:11] mreinstein commented on #26
@nfriedly here's an initial attempt at this. Happy to add more details, etc. if this looks like a reasonable approach

https://github.com/watson-developer-cloud/speech-javascript-sdk/pull/27

[2017-01-30 22:31] mreinstein opened #28 "what is the filter logic in the webaudio-L16-stream module doing?"
I'm looking at this:

https://github.com/watson-developer-cloud/speech-javascript-sdk/blob/master/speech-to-text/webaudio-l16-stream.js#L84

It appears that a filter of some kind is being applied to the audio stream. I'm curious what this is doing, any why. :)

[2017-01-31 00:25] nfriedly commented on #28
I didn't write that, someone on the Speech team did, and I just reused it from the original Speech to Text demo.  It's part of downsampling the audio - you can't just drop or average samples because it won't sound right; it's the same idea as anti-aliasing jagged edges in game graphics.

To be honest, I don't fully understand the topic myself, but there's some good explanations of the idea here: h

[2017-01-31 00:25] #28 closed

[2017-01-31 18:31] mreinstein commented on #28
Thanks for the description. I sent a PR incorporating your explanation. I think what you provide is much more valuable then what was there prior.

[2017-02-06 16:09] mreinstein opened #30 "unclear code in speech_to_text, needs a comment explaining "why""
There is some filtering logic happening here: https://github.com/watson-developer-cloud/speech-javascript-sdk/blob/master/speech-to-text/webaudio-l16-stream.js#L84

@nfriedly  mentioned this had something to with antialiasing downsampling, but neither of us could come up with clear wordage on why that code is present or what exactly it's doing.

This is one of the few areas in the code which is ve

[2017-02-06 16:53] nfriedly commented on #30
I posted my own question on the DSP stack exchange to help get a better handle on this. It includes a nice graph of the filter array :)

http://dsp.stackexchange.com/questions/37450/please-help-me-understand-this-audio-downsampling-code

[2017-02-06 17:05] mreinstein commented on #30
nice! So you're planning to support downsampling to 8khz too? Is this to minimize bandwidth sent to  watson? I'm wondering if going below 16khz actually affects recognition quality?

[2017-02-06 17:25] nfriedly commented on #30
Well, the service supports 8kHz "narrowband" models and 16kHz "broadband" models. Right now, when you select a narrowband model, the audio is downsampled to 16kHz here, and then I think it gets downsampled again to 8kHz at the service. So, doing it once here should both save bandwidth and increase quality.

[2017-02-06 18:29] mreinstein commented on #30
Ah, right I forgot about the narrowband model. So really this is about bandwidth savings when already opting into the non-broadband model. Thanks for clarification.

[2017-02-13 16:38] nfriedly opened #31 "use codepen in examples"
http://watson-seech.mybluemix.net/

@kognate Please add some details

[2017-02-13 16:42] nfriedly commented on #24
Hey, sorry, I believe this is fixed now. There's also a copy of it online: https://watson-speech.mybluemix.net/microphone-alternatives.html

[2017-02-13 16:42] #24 closed

[2017-02-13 16:43] nfriedly commented on #23
This is now fixed, https://watson-speech.mybluemix.net/file-url.html shows an example that should work on mobile Safari

[2017-02-13 16:43] #23 closed

[2017-02-13 16:44] nfriedly commented on #16
Fixed - https://watson-speech.mybluemix.net/file-url.html

[2017-02-13 16:44] #16 closed

[2017-02-13 16:50] kognate commented on #31
https://blog.codepen.io/documentation/editor/adding-external-resources/

https://blog.codepen.io/documentation/features/bookmarklet/

This is the link to POST to create a codepen

https://blog.codepen.io/documentation/api/prefill/

[2017-02-15 09:16] nirmalsinghania2008 opened #32 "Custom model support in javascript sdk"
i am using the application https://audio-analysis-starter-kit.mybluemix.net.
I was trying to use custom speech to text models created by me having specific customization id.

The application is using RecognizeElement for transcribing youtube video to text.
After looking at the reference and source code,i came to know that customization_id support is not there in RecognizeElement or rather any func

[2017-02-17 17:12] gusdaud commented on #32
I'd love to have that too!

[2017-02-17 18:31] mreinstein opened #33 "broken documentation links on npm package"
I'm looking at this page:  https://www.npmjs.com/package/watson-speech

most of the links to watson docs are broken on this page. For example, `Watson.TextToSpeech` points at http://watson-developer-cloud.github.io/speech-javascript-sdk/v0.32.1/module-watson-speech_text-to-speech_synthesize.html

[2017-02-17 18:33] mreinstein commented on #33
looks like maybe new docs were not automatically generated for this latest release (`0.32.1`) `v0.30.1` was the last release which appear to have docs, which means all the other versions between these 2 versions are lacking as well. see http://watson-developer-cloud.github.io/speech-javascript-sdk/

[2017-02-21 16:34] nfriedly commented on #32
The `customization_id` is supported on current releases of the SDK, however RecognizeElement support was removed due to quality issues. It now lives in an [example](https://github.com/watson-developer-cloud/speech-javascript-sdk/tree/master/examples/static/audio-video-deprecated) which you're welcome to use, but just won't be supported officially.

However, your server-side conversion may be the b

[2017-02-21 16:34] #32 closed

[2017-02-21 16:53] #30 closed

[2017-02-21 17:10] #33 closed

[2017-02-21 17:11] mreinstein commented on #30
@nfriedly very nice!

Question about this line:

I've seen several browsers provide different sample rates. For example, Chrome right now produces 44.1khz samples. I'm wondering if this filtering logic is going to slightly distort this input?

[2017-02-21 17:37] nfriedly commented on #30
Oh, let me adjust that. It will reduce the cutoff point of the low-pass filter slightly, but not enough to affect human speech.

[2017-02-23 15:24] nfriedly commented on #21
Cool. And, I think the original issue has since been fixed by browser updates. So I'm going to close this for now. Please re-open or file a new ticket if you hit a similar issue again.

[2017-02-23 15:24] #21 closed

[2017-02-23 22:26] nfriedly commented on #12
BTW, this is what the official demo app does now: https://github.com/watson-developer-cloud/speech-to-text-nodejs/blob/master/views/demo.jsx#L228 and it seems to be working pretty well. So I think that's the recommend solution for now.

[2017-02-23 22:26] #12 closed

[2017-03-22 08:58] arijitx opened #35 "Setting resultsBySpeaker: true disables smart_formatting ."
smart_formatting is not done on the output transcript when resultsBySpeaker is set to true

[2017-03-22 21:27] nfriedly commented on #35
That's strange. Can you show me your code and/or give me a bit more context - e.g. microphone or file input? Did you explicitly enable `smart_formatting`? What other options did you set?

[2017-03-30 15:32] nfriedly opened #36 "No need to buffer early audio"
Nothing is processed until the first `{"state": "listening"}` message, but early audio is automatically buffered by the Watson service. Therefore, there is no need to buffer it in JS, and disabling this should reduce the initial latency.

[2017-04-03 14:21] thomas-pfeiffer opened #38 "Optional parameter 'customization_id' for Text-To-Speech synthesize is missing"
The JavaScript API currently cuts off the optional parameter 'customization_id' from the options, when calling the Text-To-Speech synthesize function. However the parameter is actually supported by the Bluemix API, see https://watson-api-explorer.mybluemix.net/apis/text-to-speech-v1#!/synthesize/getSynthesize.

[2017-04-03 15:51] #38 closed

[2017-04-03 18:46] #36 closed

[2017-04-03 21:48] nfriedly opened #40 "Safari 10.1 bug"
In Safari 10.1,  WebSockets always report `bufferedAmount` is `0` AND it chokes if you send data too fast. Specifically, it reports the error 'WebSocket connection to ... failed: Failed to send WebSocket frame.' and closes the connection with status 1006 (CLOSE_ABNORMAL).

I'm still trying to find a reliable workaround. I've asked for help here:

http://stackoverflow.com/questions/43194869/how-to-

[2017-04-04 20:02] nfriedly commented on #40
WebKit bug: https://bugs.webkit.org/show_bug.cgi?id=170463

[2017-04-09 10:28] danishnazir opened #41 "Error: No speech detected for 30s."
Hi there i am encountering the following error can you please help me that how can i set the connection timeout from 30s to 2 minutes?
Error: No speech detected for 30s.
    at emitError (watson-speech.js:4973)
    at WebSocket.socket.onmessage (watson-speech.js:5001)

[2017-04-09 10:37] #41 closed

[2017-04-13 10:41] zed41 commented on #35
Hey sorry for late
# Code

    function start_stt(token){
      // params for speech to text
      var params=Object.assign({
        format: true,
        model: 'en-US_NarrowbandModel',
        objectMode: true,
        interim_results: true,
        continuous: true,
        timestamps: true,
        file: 'Files/audio.wav',
        play: true,
        realtime: true,
        // speaker_labels:

[2017-05-03 18:05] mreinstein commented on #40
according to the aforementioned bug, it should be fixed as of april 27th. *fingers crossed* ...

[2017-05-03 18:07] mreinstein opened #44 "changelog out of date?"
if this is the wrong place to post this, I apologize. https://www.ibm.com/watson/developercloud/doc/speech-to-text/release-notes.html

mentions some pretty large changes that will take place with the STT service as of May, but it's listed under April's changes. It's unclear if these changes are live in the service. (I'd think not, since there's no new changelog entry, but then again we are _in_ Ma

[2017-05-10 15:16] playground opened #45 "Is client side implementation available?"
I'm interested in employing stt in an angular app.  Is there a client side implementation for this?

[2017-05-10 20:42] germanattanasio commented on #45
You can use this library for that but we don't have an angular sample app that does that at the moment

[2017-05-10 20:42] #45 closed

[2017-05-11 14:47] nfriedly commented on #45
As German said, we don't have an Angular example at the moment, however I think that would be nice to have. If you get it working smoothly, would you be willing to send us a PR with a basic example?

[2017-05-12 12:49] playground commented on #45
@nfriedly sure, will be glad to.  I got STT working in my Angular app yesterday.  I will try to get to TTS today.

[2017-05-20 20:16] mreinstein commented on #44
Anyone out there? Is IBM's wfh policy changes really throwing a wrench in Watson maintenance or something?

[2017-05-22 07:52] chughts commented on #44
@mreinstein Unless you are requesting that the main contributor of this SDK updates it then yes this is the wrong place to post this request. You should be using Stack Overflow, or the wdc-community.slack.com Slack community, or DeveloperWorks Answers.

Also, although it might seem like it, the SDK is not the service API. The SDK just makes it easier to consume the API. The Service API has been up

[2017-05-22 14:57] nfriedly commented on #44
Thanks @chughts,

Hi @mreinstein, sorry this slipped through the cracks. As @chughts mentioned, this isn't really the best place to ask about service-related questions. That said, I think I can answer yours: the change log that you linked to only shows changes that have already gone live. If you're experiencing behavior that doesn't match the latest changelog, then [Stack Overflow](http://stackove

[2017-05-22 14:57] #44 closed

[2017-05-22 15:10] mreinstein commented on #44
Thanks for the update folks! 👍

The service API behavior definitely matches what is in the documentation.

My confusion stemmed from particular wording in the changelog itself:

"Effective May 2017, the service will change as follows. (Note that the date for the deprecations has been delayed from April to May.)"

It says it will be effective in May, but we're already 3/4 of the way through May. Th

[2017-05-22 15:22] nfriedly commented on #44
Oh, I see. I guess I was wrong and it does have some future stuff.

I'd recommend re-posting the question on [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson) as several members of the Speech team watch it and regularly answer questions. (I created this SDK, but I don't actually work on the Speech team.)

[2017-05-24 03:06] playground opened #46 "continuous: false option is no longer supported"
After chrome updated to version 58.0.3029.110, microphone no longer auto stops after first pause.

var stream = WatsonSpeech.SpeechToText.recognizeMicrophone({
        token: token,
        continuous: false, // false = automatically stop transcription the first time a pause is detected
        outputElement: '#output' // CSS selector or DOM Element
      });

And calling stream.stop.bind(stream);

[2017-05-24 03:16] nfriedly commented on #46
This is a service-level change that just went into effect yesterday: https://www.ibm.com/watson/developercloud/doc/speech-to-text/release-notes.html#May2017

Basically, the `continuous=false` option is no longer supported. I'll get this SDK updated soon to make that more clear, but I have quite a lot on my plate this week. If you'd like to send a PR that removes it from the Readme, recognize-strea

[2017-05-24 12:19] playground commented on #46
Ah, good to know.   I was out for a week and just started back yesterday, I thought it was due to Chrome's latest update :-).   I actually like the continuous=false behavior.  How can we simulate behavior if we need that feature?  If I have sometime I will submit a PR for the Readme.

[2017-05-24 15:15] nfriedly commented on #46
You can simulate it by calling `.stop()` as soon as you get the first `final: true` result. You'll probably receive some additional results after that, you'll have to just ignore those.

[2017-05-30 16:04] playground commented on #46
@nfriedly what is the PR process? I have a local branch with the update that removes continuous for OPENING_MESSAGE_PARAMS_ALLOWED

[2017-05-30 17:56] nfriedly commented on #46
The process is mainly make sure that the tests pass and the [JSDoc](https://github.com/watson-developer-cloud/speech-javascript-sdk/blob/master/speech-to-text/recognize-stream.js#L61) is up to date. For that change, you'll also want to remove it from the [defaults](https://github.com/watson-developer-cloud/speech-javascript-sdk/blob/master/speech-to-text/recognize-microphone.js#L85) and update or

[2017-05-30 18:01] playground commented on #46
I was having issue pushing up the branch, I may not have the proper permissions.

[2017-05-30 19:32] nfriedly commented on #46
That may be because you're trying to push directly to this repo, where you don't have permissions instead of your own fork (copy) of it where you would.

You should hit the Fork button at the upper right, that will create a copy of the repo on github that you control.

To update your existing git repo on your computer to point to your fork on github.com, grab the url from your fork (it should look

[2017-05-31 14:42] nfriedly commented on #46
Fixed in #47

[2017-05-31 14:42] #46 closed

[2017-06-06 14:09] ibmkaga opened #48 "Getting _global is undefined"
I have included the watson-speech.js for my client side (browser) code, but get the error mentioned in the title. Am attaching a screenshot of the line where its cropping up.
I am using the latest version (v0.33.1) and am creating a bundle using webpack to deploy my application.
Although i see the _global defined as a IFFE right above this line am wondering why would it not get the reference to th

[2017-06-06 14:17] ibmkaga commented on #48
I tried the webpack version with npm module installation but in that i get a different error (snapshot attached below).  This was after i installed the module using 'npm install --save watson-speech' and then refering the module using "import RecognizeMic from 'watson-speech/speech-to-text/recognize-microphone';" in the codebase.

![watson-speech-webpack-error](https://cloud.githubusercontent.com/

[2017-06-06 14:30] nfriedly commented on #48
That's odd... The first error could be caused by a `"use strict";` in a function that wraps that code higher up - does your code have that, and if so, can you remove it and try again?

The second one is hard to guess without more context.

[2017-06-06 18:36] ibmkaga commented on #48
Is the client JS expected to work in a webpack bundle?  I was thinking for a webpack based bundle, it would need the npm module, but with that i ran into the error that i captured in the second comment.

i tried taking off use strict from various files, but the project is too big to take it out from everywhere, any other creative idea?

[2017-06-06 19:03] nfriedly commented on #48
The bundles on https://github.com/watson-developer-cloud/speech-javascript-sdk/releases are built with webpack, but the expectation there is that you'll put it in the page as a standalone script tag (or just concatenate it with your other scripts.)

The npm version should work with webpack and browserify, and there are demos of both - there's an example at https://watson-speech.mybluemix.net/webpa

[2017-06-29 20:18] mreinstein opened #50 "webrtc interface?"
safari 11 is shipping webrtc support, and I think there's an opportunity here for:
* a lower latency connection than websockets (based on udp under the hood I think)
* using native browser streaming apis rather than rolling our own with websockets + browserified stream shim

I realize this is not a small undertaking, but hey, a guy can dream right? :)

[2017-07-06 21:32] nfriedly commented on #50
WebRTC is mostly about peer-to-peer connections, so not really a perfect match for what we're doing here, but it may be worth looking into anyways. UDB and native Opus encoding would be nice to have.

However, it's not really something that can be addressed in the SDK unless the service implements it first - I'll pass this along to the folks on the Speech team, but I'm going to close this ticket f

[2017-07-06 21:32] #50 closed

[2017-07-20 13:13] nfriedly opened #51 "Support continuous: false at SDK-level"
The API [no longer supports `continuous: false`](https://www.ibm.com/watson/developercloud/doc/speech-to-text/release-notes.html#May2017), but the removal is [breaking live applicatinons](https://github.com/watson-developer-cloud/car-dashboard/issues/77).

There is an [example of how to impliment the old behavior](https://watson-speech.mybluemix.net/microphone-streaming-auto-stop.html) but I think

[2017-07-20 14:11] nfriedly commented on #51
Note: care should be taken to ensure it still behaves sanely when combined with speaker recognition

[2017-07-21 15:52] nickmisasi13 opened #52 "getReadable is not a function"
After a fresh clone of this repository and an npm install of the examples folder, the `speaker-stream-file-html.html` example results in the following error upon pressing the button:

[code]
The `watson-speech.js` folder does not have this function defined (obviously) and this is the only reference to this function I can find in the entire repo. Has this function been deprecated in favour of a new

[2017-07-21 16:09] nfriedly commented on #52
I think that's part of [nodeify-fetch](https://www.npmjs.com/package/nodeify-fetch), apparently the API changed (?)

[2017-07-21 16:13] nfriedly commented on #52
Yea, actually, the SDK was changed in https://github.com/watson-developer-cloud/speech-javascript-sdk/commit/2ac1041ae7e4cc13e5203d8e067d747e32ba4537#diff-37da58bcae402ad5a5714772ea2e4be9 which *should* be included in your clone. If you run `npm run build`, does the error still occur?

[2017-07-21 16:20] nfriedly commented on #52
Op, it's broken on https://watson-speech.mybluemix.net/speaker-stream-file-html.html too. I'll try and figure this out next week.

[2017-07-21 17:50] nickmisasi13 commented on #52
Running `npm run build` in the examples folder didn't work - I think some of the modules from the main repo's package.json are missing (along with webify configuration). Nevertheless, I was able to alter the code in `bower_components/watson-speech/dist/watson-speech.js` manually to match what is in your commit, and the example started working.

thanks for the quick solution - I'll leave this open

[2017-08-03 12:40] dinesh93 commented on #23
The same websocket  error is throwing for me also when running ionic app in iphone device.

the error is.
failed: Failed to send WebSocket frame.

is there any solution. Please help me to solve this issue

[2017-08-03 13:57] nfriedly commented on #23
@dinesh93 That is actually a different bug, and one that is outside of our control: https://github.com/watson-developer-cloud/speech-javascript-sdk/issues/40

The code is fixed in webkit core, and it in the latest preview builds of Safari 11 (on desktop and, I assume, on iPhone). Expect it to be released in a month or two, whenever Apple puts out the next major releases of macOS and iOS.

If you n

[2017-08-04 13:09] dinesh93 commented on #23
@nfriedly  Thank you So much for You response

the issue comes  in 10.3.1 os version of ios

10.3.3 its works fine.

[2017-08-17 19:41] nfriedly opened #53 "clean up example server js"
The server js example is not up to our current standards. Specifically, it

* [x] Should use the current Node.js SDK
* [x] Should *not* use `util._extend` (`Object.assign()` is acceptable, but it really shouldn't be needed at all.)
* [x] Should use the env properties that the SDK loads automatically instead of abbreviated ones & `vcap_services`
* [x]  Should probably all be in a single js file

[2017-08-22 13:53] nfriedly commented on #40
Fixed in  Safari 10.1.2

[2017-08-22 13:53] #40 closed

[2017-08-30 17:45] ehdsouza opened #54 "Add mp3 and mpeg content types"
https://console.bluemix.net/docs/services/speech-to-text/index.html#about supports mp3 and mpeg as well now

[2017-08-30 17:58] ehdsouza opened #55 "Unable to record audio with latest version"
Cannot update the speech-to-text demo with the latest version of the sdk.
Steps to reproduce:
"watson-speech": "^0.30.1" => cant record audio
"watson-speech": "0.30.1" => records audio

[2017-08-30 20:23] nfriedly commented on #54
I don't think any changes are required (?)

This SDK just accepts whatever string you pass in for the content type.

I suppose you could update the [guesser](https://github.com/watson-developer-cloud/speech-javascript-sdk/blob/master/speech-to-text/content-type.js) to recognize those, but that was never guaranteed to work.

[2017-08-30 20:26] nfriedly commented on #55
Can you show what code you were using?

[2017-08-31 20:42] #55 closed

[2017-08-31 20:44] nfriedly commented on #54
I talked to @germanattanasio and got some context on this - you want the guesser to support .mp3 and .webm so that the demo can support user-provided files in those formats. Done and released in v0.34.0

[2017-08-31 20:44] #54 closed

[2017-08-31 20:45] #53 closed

[2017-08-31 20:48] nfriedly commented on #55
This one was tricky - the demo is using `express-browserify`, which uses an older version of `browserify`, which uses an older version of `buffer` that pre-dates `Buffer.from()`. I resolved it by switched the SDK to use `buffer-from`.

I'll probably also send a PR to express-broserify with a dependency bump.

[2017-09-01 13:56] germanattanasio commented on #55
Thanks @nfriedly !

[2017-09-01 13:58] ehdsouza commented on #54
@nfriedly Thanks for fixing this

[2017-09-04 15:00] playground opened #56 "TTS WAV file is not playing on android and Safari"
@nfriedly I have put together this web app that works in Chrome, FF and Edge for TTS/STT but TTS fails on Android.  Seems like TTS/STT both fail for Safari.

Here is the link to the web app https://web-weather-ai-dev.os-app.dev-001.wc.weather.com/

Thanks

[2017-09-04 21:00] germanattanasio commented on #56
Which version of Safari are you using? 10.0.1 had an issue with WebSockets. It was fixed in the latest release.

Regarding Android, try to use `.mp3` instead of `.wav`.

[2017-09-05 14:13] nfriedly commented on #56
Confirmed in Chrome 60 on Android. I think Chrome may have implemented the same "audio playback must be in direct response to a user action" rule as mobile Safari - [this example](https://watson-speech.mybluemix.net/file-url.html) works, but none of the others seem to.

For Safari, no *current* release allows microphone access, but the previews of the next release (due out soon) do. I just tested

[2017-09-05 14:31] playground commented on #56
@germanattanasio Safari Version 10.1.2 (12603.3.8)

@nfriedly what would you recommend for the interim solution?

[2017-09-05 14:45] nfriedly commented on #56
For desktop support, you just have to ask users to use any browser except Safari (until the next release).

For mobile, I would recommend native apps for the time being, especially if you want iOS support. We have [Java](https://github.com/watson-developer-cloud/java-sdk) & [Swift](https://github.com/watson-developer-cloud/swift-sdk) SDKs to help there.

[2017-09-05 14:47] playground commented on #56
I was trying to avoid native app completely and go with PWA all the way :-)

[2017-09-05 14:53] nfriedly commented on #56
Yea, I know; think that Apple will allow microphone access in the next release of iOS safari, in addition to desktop safari. So it may be possible in a few weeks. If you feel like gambling on that, and putting in the work to make TTS playback work as a single continuous stream, I'd be happy to provide a little guidance and accept a pull request.

[2017-09-12 23:01] playground commented on #56
@germanattanasio how to output .mp3?

[2017-09-13 00:32] germanattanasio commented on #56
Look at the docukentation. I think you need to send an accept parameter
On Tue, Sep 12, 2017 at 7:01 PM playground <notifications@github.com> wrote:

[2017-09-13 09:11] yuenghole opened #57 "Promise not implemented"
Hi, in Internet Explorer 11, Uncaught Exception: 'Promise' is undefined at (compiled_code):420 shown when Mic button is clicked. Work fine in Chrome and firefox. Below is the code:

<script src="scripts/fetch.js"></script>
<script src="scripts/watson-speech.js"></script>

<script>

	document.querySelector('#button').onclick = function (){

			fetch('scripts/token')
			  .then(function(response) {

[2017-09-13 15:40] nfriedly commented on #57
You'll need to include a promise pollyfill for IE - add this line before your existing script tags:

[code]

Note that IE 11 does not provide microphone access, so you can transcribe files and synthesize audio, but you can not transcribe live speech in IE.  For full support, you'll need to upgrade to Edge, Chrome, Firefox, etc.

[2017-09-13 15:41] #57 closed

[2017-09-13 19:26] nfriedly commented on #56
Yep, see http://watson-developer-cloud.github.io/speech-javascript-sdk/master/module-watson-speech_text-to-speech_synthesize.html

Set it to `audio/mp3` to force mp3 format:

[code]

Note that browsers automatically set an `Accept` header, so in theory overriding it shouldn't be necessary. But it's still available in case it's needed.

[2017-09-23 02:55] fukuda34 commented on #56
iOS 11 was released and allows microphone access for Safari. I tried the streaming example below, but it doesn't work.
https://watson-speech.mybluemix.net/microphone-streaming.html
Should it work or not? Could you please anyone teach me?

[2017-09-23 13:05] playground commented on #56
@nfriedly I have tried outputing mp3 but still not working for Android.

[2017-09-25 18:04] nfriedly commented on #56
@fukuda34 I'm not sure, I haven't had the opportunity to test things on iOS 11 yet.

@playground What about this example: https://watson-speech.mybluemix.net/file-url.html - I think the condition might be that it must be in *direct* response to a user action (so you can only play when they click/tap, and you must have the token pre-loaded.)

If I recall correctly, your use-case involved playing ba

[2017-10-03 21:11] troyibm opened #58 "Unable to get all of transcribed audio when using push-to-talk approach"
Basically what I am trying to do is build a walkie-talkie type of chatbot.

When the user is holding down a button, audio should be transcribed and when they lift up on the button, the complete transcription should be sent to a server to be processed.  I want all the audio sent while the button was held down to be transcribed, so I can't send the transcription at the point of the button lift up (w

[2017-10-03 21:38] nfriedly commented on #58
Note to self: the bug is that RecognizeStream immediately sends the stop command when stop is triggered, but there may be some buffered audio that never gets sent. This will be worse with short bursts and/or slower connections.

`.stop()` should default to a "graceful" stop where only the microphone is stopped, and the RecognizeStream is allowed to close automatically once all audio has been sent.

[2017-10-03 22:20] troyibm commented on #58
The other SDKs have a "final" boolean that indicates the transcription is complete for that sentence.

[2017-10-06 23:38] mreinstein opened #59 "is there a way to specify bitrate when sending mp3 encoded data to watson stt?"
I'm able to send mp3 encoded audio to watson and get back valid transcriptions. When sending pcm audio I can set the `content-type` to `'audio/l16;rate=16000'`.   `audio/mp3` works but I'm wondering if I can/should set the sample rate and/or bitrate for the `content-type` when sending mp3 encoded data.

[2017-10-09 17:45] nfriedly commented on #59
No, I don't believe it's necessary, because mp3 audio includes this information in the file header. PCM/L16 audio does not.

[2017-10-09 18:20] mreinstein commented on #59
is there a minimum bitrate that I should use when sending mp3?

[2017-10-09 20:47] daniel-bolanos commented on #59
yes, @nfriedly is right, the bitrate info is in the file itself.

@mreinstein yes, there is a minimum bitrate, if you compress too much the encoding will affect recognition accuracy. There seem to be some resources online that can get you started, for example: http://www.richardfarrar.com/choosing-bit-rates-for-podcasts/

64kbps could be a good bitrate to start playing with, if you see any degrada

[2017-10-09 20:49] mreinstein commented on #59
@daniel-bolanos how is cpu usage for opus vs mp3? I figured mp3 would be less cpu intensive and more suitable in mobile web environments, but this is an assumption.

[2017-10-09 20:58] daniel-bolanos commented on #59
I do not have that kind of data, maybe you can find something online. But we have been able to use opus for real time streaming without a problem. I would be surprised if mp3 were more efficient than opus. Regarding bitrate you can get better quality at lower bitrates: http://opus-codec.org/comparison/

[2017-10-09 22:41] mreinstein commented on #59
@daniel-bolanos whoa, cool analysis, thanks for sharing that page!

So besides lower bitrate, it looks like opus also has a much lower latency?

[2017-10-10 00:20] daniel-bolanos commented on #59
yeah, that is what the article shows, opus is the best for speech encoding.

[2017-10-16 15:15] mreinstein commented on #59
I guess I'll mark this closed, thanks for the info

[2017-10-16 15:15] #59 closed

[2017-10-30 10:46] LiamChapman opened #61 "iOS 11 Microphone capture not working."
Hi there,

I've been playing with the SDK for a few weeks now and I've been unable to get the Microphone to work on iOS11, which has recently included getUserMedia and WebRTC support.

At first I thought it was a bug with iOS, but I did some tests outside of the SDK, i've been able to get the mic to work. But with the SDK it fails silently.

Works on iOS 11:
https://youennf.github.io/webrtc-tests/

[2017-10-30 14:49] nfriedly commented on #61
iOS (and, I think Chrome on Android now) only allow audio to work in direct response to a user action.

https://watson-speech.mybluemix.net/microphone-streaming.html won't work because it fetches the token first and then starts recording after the token loads, so it doesn't count as a *direct* response to a user action.

https://watson-speech.mybluemix.net/microphone-streaming-preload-token.html w

[2017-10-30 14:49] #61 closed

[2017-11-09 07:04] alansutherland commented on #35
this helped me a lot, the official docs example should include

[code]

[2017-12-07 06:21] yanweinb opened #62 "Trying to call getUserMedia from an insecure document. exports — watson-speech.min.js:6:111929 recongizeSearchStart — backdrop-speech.js:34 fn f — angular.js:23298 $apply — angular.js:15945 (anonymous function) — angular.js:23303 dispatch — jquery-1.11.3.min.js:4:8555 handle — jquery-1.11.3.min.js:4:5258 exports — watson-speech.min.js:6:111929"
ISO 11.2
safari
using https ,port:443
error message:
Trying to call getUserMedia from an insecure document.
exports — watson-speech.min.js:6:111929

[2017-12-07 14:28] germanattanasio commented on #62
Did you try enabling getUserMedia from the developer console?

See: https://stackoverflow.com/questions/44523609/getusermedia-is-not-allowed-in-localhost-safari-11

What's your application URL?

[2017-12-07 15:33] nfriedly commented on #62
Do you mean iOS 11.2, as in an iPhone?

[2018-02-06 01:52] ekajune18 opened #63 "detect "state:listening" for recognizeFile"
How can I detect when stt service return the "state:listening" when using recoginzeFile modules? I've tried create a condition using data.state == "listening", however every time service return the "state", it doesn't hit the condition.

[2018-02-07 07:52] #63 closed

[2018-02-19 13:22] awais786327 opened #64 "How to solve cross origin issue"
i am calling this API from client side and i have to call this from client side

infact when i tried to get token it still throw same error, i have to call this from browser for my application dont know what to do, stuck more then 9days never found something that could resolve this issue how do i get rid of this cross origin error which making this request infact every request unsuccessful from be

[2018-02-19 14:33] germanattanasio commented on #64
Hi @awais786327, I think you are not sending the right token. We have a sample app that shows how to use this library once you get a valid token and it's working. See https://watson-speech.mybluemix.net/microphone-streaming.html

The code for that example is in the `/examples` folder. If you can't get a valid token using the `/authorization` service, you won't be able to call the services :(

[2018-02-19 14:44] awais786327 commented on #64
@germanattanasio actually i got the token by curl command and then use directly in browser but never  works!

![image](https://user-images.githubusercontent.com/12613564/36383213-49b3d2c4-15ad-11e8-8d08-ba2ce73fb1a7.png)

[2018-02-19 14:55] germanattanasio commented on #64
Please provide a set of reproducible steps.

[2018-02-19 14:57] awais786327 commented on #64
@germanattanasio could there not be an easiest solution to get the **token** and **SSML audio** directly in AngularJS $http client side service like this ?

![image](https://user-images.githubusercontent.com/12613564/36383782-10ea862a-15af-11e8-9d36-59a808f8ef6c.png)

[2018-03-01 13:07] yliaho commented on #63
@ekajune18 did you figure it out? Mind sharing how you did it?

[2018-03-02 16:19] Tryanium opened #65 "Issue / question about Speech to text and Text to speech [.synthetize]"
Hi,

I'm not sure it's quite an issue, but for me it is.

I try to make a personnel assistant, and for that I have to use Speech to text and text to speech together, unfortunately, for the moment, both are activated in the same time, so watson heard it(him)self and so on.

Is there any method with .synthetize to know when, text to speak stop?  like a .on('stop') or something similar? By the way, w

[2018-03-05 23:56] wandonye opened #66 "Example is using node-sdk instead of speech-javascript-sdk"
Need to update readme to explain how to this api is used.

[2018-03-06 13:21] Tryanium commented on #65
I may have an update, I've read that Text to speech create it's own audio tag when playing.

Is there a way to have access to it by JavaScript?
I've read that with the JavaScript you can know the state of an audio tag.
Is there a way to know where in the file, that behavior is created?

[2018-03-08 02:50] germanattanasio commented on #66
The example is using the node-sdk to provide the token that then you use with this library on the client side.

[2018-03-08 09:29] Tryanium commented on #65
Indeed !! But to make it works, I had to make those modification:

[code]

Because, due to the "audio" JS element, I didn't find how to access it!

I'm closing the subject !

[2018-03-08 09:29] #65 closed

[2018-04-11 13:47] zotto opened #67 "Failed to construct 'AudioContext' after 5+ subsequent connections"
**Background** and **Steps to Reproduce**
I'm working on a proof of concept that uses IBM Watson - Speech to Text through websockets. To optimize the connection usage, I have established an inactivity timeout of 5 seconds. The idea is to drop the connection if there is no audio ... and reconnect when we have audio. Here is a code snippet of my connection:
[code]

**Expected Behavior**
By doing thi

[2018-04-11 13:56] germanattanasio commented on #67
@zotto Thanks for creating the issue. I will be more than happy to help you contribute to this project.

One request I have is to make sure we encapsulate the `AudioContext` in a module rather than reference it using `window.watsonAudioContext`. You need to create a new js file that will act as a singleton pattern and provide access to the AudioContext.

[2018-04-11 19:59] zotto commented on #67
@germanattanasio Thanks for the feedback.

I was able to do some further investigation on this issue and I'm not confident that it is, indeed, an issue on the sdk itself. I believe it is more like a misusage from my side.

With some refactoring on my code, I was able to make it work properly.

I will be closing this issue for now. Apologize for any inconvenience.

[2018-04-11 19:59] #67 closed

[2018-04-23 17:02] abhilashsandi opened #68 "Speech to text not working in chrome android (>7, Nougat) and chrome IOS 11"
Speech to text not working in chrome android (>7, Nougat) and chrome IOS. Any plans to fix this issue?

[2018-04-23 19:05] germanattanasio commented on #68
Hey @abhilashsandi, Can you please provide a set of reproducible steps?

[2018-05-10 00:39] nfriedly commented on #68
It should work if you ore-load the token - try  https://watson-speech.mybluemix.net/microphone-streaming-preload-token.htmlmobile

chrome recently added the same limitations that mobile safati has :(

Someone should update the examples page to just say "mobile" instead if "iOS"

[2018-05-29 11:21] poojarfuturistic5 commented on #61
hello I am using wzrecorder but it's not showing waveforms only recording the audio

[2018-07-06 04:25] catcher-in-the-try opened #70 "Examples seem to be incorrect because there is no way to get authentication credentials"
The text to speech API seems to have fully moved to the IAM mechanism, where the request must have an `Authorization: Bearer token`  header.

This package uses the `watson-token` query parameter (which seems to be for another kind of tokens - not the tokens generated using the IAM API key) and I receive an "ERCD-INVLDTKN" error when trying to send a request. It seems there is no longer a way to ge

[2018-07-06 05:11] catcher-in-the-try commented on #70
By trial and error I found a way to generate username/password in the IBM console, but still don't know how I did it. Just created a new service.

[2018-07-13 10:47] erpratibha05 commented on #68
Any success? I tried to use it in the Andoird 7 and iOS 11 chrome but it returns nothing.

[2018-07-19 02:22] germanattanasio commented on #70
We are in the middle of an update to make this library work with IAM tokens.

[2018-08-15 16:12] germanattanasio opened #79 "Remove links to `.shtml` pages"
In the code there are references to our old pages in the ibm.com. We should update those links and save the user from a redirect :nerd_face:

[2018-08-16 12:15] magnusltmn opened #80 "Use TTS with other than default instance"
I tried to use the "text-to-speech" service from "watson-speech" with a TTS service from an instance in Frankfurt, Germany. After getting a correct token, I am executing the following code:

[code]

The problem here is that the synthesize() is trying to establish a connection to "https://stream.watsonplatform.net/text-to-speech/api/v1/synthesize?" and not to "https://stream**-fra**.watsonplatform.

[2018-08-16 15:46] germanattanasio commented on #64
@awais786327 I just tested this example https://github.com/watson-developer-cloud/speech-javascript-sdk/blob/master/examples/static/url-promise.html and was able to recognize the audio file.

What you are doing should work. Since this was opened in Feb 19 and we had a few releases since then. Can you update the library and try again?

[2018-08-16 17:58] awais786327 commented on #64
@germanattanasio thanks for your reply i did already with this AWS Polly Speech Synthesis

[2018-08-16 19:05] #79 closed

[2018-08-16 19:07] germanattanasio commented on #64
I'm closing this since I couldn't reproduce it.

[2018-08-16 19:07] #64 closed

[2018-08-17 14:10] germanattanasio commented on #80
Hi @magnusltmn this was fixed in https://github.com/watson-developer-cloud/speech-javascript-sdk/releases/tag/v0.35.0

[2018-08-17 14:10] #80 closed

[2018-08-17 14:11] germanattanasio commented on #80
Now you can specify the URL as part of the `synthesize()` method
[code]

[2018-08-17 14:13] germanattanasio commented on #70
We updated the library with support for IAM, you will have to get a token and use the `access_token` if is an IAM instance. `token` will remain there for CF instances.

[2018-08-17 14:13] #70 closed

[2018-08-17 14:13] germanattanasio commented on #62
This issue is fairly old and there hasn't been much activity on it. Closing, but please re-open if it still occurs.

[2018-08-17 14:13] #62 closed

[2018-08-17 14:25] germanattanasio commented on #52
The demo was updated and it's working now

[2018-08-17 14:25] #52 closed

[2018-08-17 15:59] jackrvaughan opened #83 "recognizeMicrophone causes angular (6) change detection to stop working"
Not 100% sure why this happens, but whenever data returned from STT is used to create a new DOM element or component, change detection on those components don't seem to work.

For example:

[code]

- Expected behavior

We'd expect angular change detection to work normally and not have to call it explicitly.

- Actual behavior

If a UI element is bound to sttResults, it won't update unless `changeD

[2018-08-21 21:53] dpopp07 commented on #83
Hi @jackrvaughan I've been looking at your problem a bit. I have no experience with angular, but I was reading up on change detection and this detail stuck out to me:

The `results` property you're pulling out of data is an array of objects. It sounds to me that, unless you are using specific nested properties of these objects in a template, change detection won't be triggered. Perhaps you are and

[2018-08-22 19:09] jackrvaughan commented on #83
Hey @dpopp07 - thanks for the reply!

Good find - but unfortunately don't think it's the issue I'm hitting. We are using the `results` in our component templates to display the transcript among other things.

[2018-08-23 19:27] dhope-nagesh opened #84 "Add support for passing acoustic_customization_id"
https://www.ibm.com/watson/developercloud/speech-to-text/api/v1/curl.html?curl#recognize
using `acoustic_customization_id` there way to pass custom acoustic model to watson speech to text API
There is no such support in `speech-javascript-sdk`

[2018-08-23 19:33] dhope-nagesh commented on #84
Oops, I was on the wrong version. Closing this issue

[2018-08-23 19:33] #84 closed

[2018-08-23 21:43] dhope-nagesh opened #85 "Unable to open websocket using recognizeMicrophone if I pass customization_id"
VERSION 0.36.0

[2018-08-23 22:05] dpopp07 commented on #85
Hi @dhope-nagesh, what is the specific error you are getting?

[2018-08-24 06:35] dhope-nagesh commented on #85
[code]
When I try calling `recognizeMicrophone` with above parameters. Following error is occuring

<img width="1271" alt="screen shot 2018-08-24 at 12 00 31 pm" src="https://user-images.githubusercontent.com/23738352/44568760-b8f79880-a795-11e8-855d-6d1deab33a71.png">

Also When I remove `customization_id: 'd6c52896-2afa-49e1-99d1-4f176065f658'` parameter from the parameter list. Its working fine

[2018-08-24 06:47] dhope-nagesh commented on #85
@dpopp07 I tried using the example https://watson-speech.mybluemix.net/microphone-streaming.html. The same issue is occurring

[2018-08-29 12:06] daphoenix commented on #80
Thanks for the prompt fix.

[2018-09-02 06:53] hoyeunglee opened #86 "how to add assistant to example"
i add
[code]

where can find assistant in directory?
[code]

[2018-09-04 14:46] dpopp07 commented on #86
Hi @hoyeunglee
This repository is for speech services only. If you are trying to integrate Assistant also, you will need to use the [watson-developer-cloud](https://github.com/watson-developer-cloud/node-sdk) package, which it looks like you are already using to import Assistant into your server code.

However, the Bower components do not automatically include that dependency. You will need to upd

[2018-09-06 16:31] mediumTaj opened #87 "List the required dependencies along with their licenses"
| Dependency | License | url |
| --- | --- | --- |

[2018-09-06 20:34] vpicone opened #88 "Pull request #82 ships code incompatible with some browsers"
#82 uses template literals which aren't supported in ie 11. Regular string concatenation should be used or the code should be compiled to es5 before being shipped.

This was discovered when my build script failed due to es6 code being discovered in one of my deps.

[2018-09-06 20:40] vpicone commented on #88
[code]

[2018-09-10 21:54] dpopp07 commented on #88
Thanks for letting us know, I opened #89 to resolve.

[2018-10-21 11:17] VadimGut opened #91 "Use audio_url as the audio source instead of a stream"
It seems like when transferring **audio_url** with my job request

[code]

I am receiving the error
`Error: Missing required parameters: audio`
which seems like it is not recognising the audio_url param

[2018-10-31 17:41] jeancarl opened #92 "Synthesize method does not honor access_token from IAM API Key"
In SDK v.0.36 with Firefox 60.3.0esr (64-bit), using the new IAM API Key authentication for Text to Speech, the synthesize method filters out the access_token parameter.

[code]

The requested URI resource doesn't include this access token and the watson-token parameter is undefined, returning a CORS error.
[code]

### Fix
https://github.com/watson-developer-cloud/speech-javascript-sdk/blob/master

[2018-10-31 17:42] jeancarl commented on #92
Pull request https://github.com/watson-developer-cloud/speech-javascript-sdk/pull/93 with changes.

[2018-11-06 06:28] NobuyukiMonna opened #94 "Synthesize method of /text-to-speech/synthesize.js also does not accept access_token"
Tieket # 92 asked QUERY_PARAMS_ALLOWED to add 'access_token'

  speech-javascript-sdk / text-to-speech / synthesize.js
Because it has not been added to QUERY_PARAMS_ALLOWED, this is a state that does not work.

Also, when adding 'access_token' to QUERY_PARAMS_ALLOWED
https://github.com/watson-developer-cloud/speech-javascript-sdk/commit/3042c9adfc71f4b5e89a34908a6ce9400c64f324#diff-117eb642eb2c4d6

[2018-11-06 15:02] germanattanasio commented on #94
@dpopp07 can you look at this please?

[2018-11-06 15:17] germanattanasio commented on #91
Dustin can you look at this?

[2018-11-07 22:27] #94 closed, assigned to nobody

[2018-11-07 22:53] dpopp07 commented on #91
Hi @VadimGut
First of all - are you using the `watson-speech` package or `watson-developer-cloud` ? This repo is for `watson-speech` which does not have an API for `createJob`. I think it would be more appropriate to post this issue in [the Node SDK repository](https://github.com/watson-developer-cloud/node-sdk/issues).

Second - I am not sure the service or SDKs are meant to accept an `audio_url`

[2018-11-07 23:42] germanattanasio commented on #91
It doesn't look like `audio_url` is a supported.
See the documentation: https://www.ibm.com/watson/developercloud/speech-to-text/api/v1/curl.html?curl#create-job

[2018-11-07 23:51] #91 closed

[2018-11-08 03:44] NobuyukiMonna commented on #94
Hi @dpopp07

I am sorry even if the response is delayed
Also, thank you for your prompt response.

As for || key === 'access_token' being removed - This is my misunderstanding. I misunderstood that token and access_token must be the same implementation, but I confirmed that there is no particular problem. Thank you very much.

[2018-11-08 04:22] NobuyukiMonna opened #96 "Since Synthesize method always adds watson-token parameter, it becomes 401 response when access_token is specified."
I am sorry I have issued Issue many times due to my lack of confirmation
The access_token parameter of synthesize.js is still not working.
Because it is a different problem, I have voted for another Issue.

The cause is Synthesize.js L: 49, 59
[code]
By having unconditionally setting the 'watson-token' attribute
Authentication failed and it became an HTTP status code 401 (unauthorized).

speech-to

[2018-11-08 08:03] VadimGut commented on #91
I have an email from **Daniel Bolanos** saying quote

[2018-11-08 16:14] dpopp07 commented on #96
@NobuyukiMonna thanks for opening another issue - you are correct, that code shouldn't be only looking for `watson-token`. I will have this fixed shortly

[2018-11-08 16:39] #96 closed

[2018-11-09 02:50] NobuyukiMonna commented on #96
@dpopp07 Thank you for responding very quickly.
With this correspondence TTS can now operate with Iam authentication
It was very helpful

[2018-11-10 04:39] ptuton opened #98 "Use of 'customization_id' is deprecated - use 'language_customization_id' instead"
As per the API [reference](https://www.ibm.com/watson/developercloud/speech-to-text/api/v1/), the use of 'customization_id' is deprecated, replaced with 'language_customization_id'.

SDK version: 0.36.0.

[2018-11-16 05:52] gejian commented on #85
Hi, Recently I updated this package to v0.35.4, and found the same error, I thought that maybe a bug in the recognize-stream.js, the following request will be caught http-400 error with passing the customization_id parameter

[code]

[2018-11-18 19:19] germanattanasio commented on #85
@gejian do you see the error when you don't specify the `customization_id` I think this is an issue we have seen in other SDKs when users specify that parameter.

[2018-11-19 02:39] gejian commented on #85
Hi, if I don't specify the `customization_id`,  there is no error found.
and if customization_id and token were specified , the  watson-speech works fine.
but when customization_id and access_token were specified, there will be return http-400 error when request url 'wss://stream.watsonplatform.net/speech-to-text/api'.

[2018-11-19 16:05] germanattanasio commented on #85
@dpopp07 `customization_id` was deprecated and users have to use `language_customization_id`. Maybe that's the problem here

[2019-01-02 19:18] dpopp07 commented on #98
Hi @ptuton

This SDK now uses the custom stream found in the [Watson Node SDK](https://github.com/watson-developer-cloud/node-sdk/blob/master/lib/recognize-stream.ts#L115), which supports `language_customization_id`.

[2019-01-02 19:18] #98 closed

[2019-01-14 21:38] #88 closed

[2019-01-14 21:45] #92 closed

[2019-01-15 15:30] repjarms opened #100 "Attach MediaStream to returned Stream from recognizeFile/recognizeMicrophone"
Package version: 0.35.4

Currently, when calling `recognizeFile` or `recognizeMicrophone`, multiple child streams are returned within the response. It would really handy to have a `MediaStream` returned as well, for people who want to do things like visualization or any audio manipulation.

[2019-01-23 16:50] mangelcalvo opened #101 "text-to-speech.html is using watson-token as a query parameter"
When trying the text-to-speech.html example, the html page sends a GET request to get the audio file by using
https://stream-fra.watsonplatform.net/text-to-speech/api/v1/synthesize?text=Hello from IBM Watson&watson-token=eyJraWQiOiIyMDE3MTAzMC0...

The service is answering with a 401 Unauthorized response. The watson-token is deprecated so that seems the reason for the issue.

How can a URL reques

[2019-01-23 16:58] dpopp07 commented on #101
Is the service authenticated using IAM tokens? If so, you can use `access_token` as your parameter to pass in the token with and that should solve the problem.

[2019-02-08 22:15] kulandairaj opened #103 "Unable to use in angular 6"
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/ibm-watson-cognitive) for that, or you may want to start a discussion on the [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson).

### When reporting a bug, please be sure to include the following:
- [ ] Steps to reproduce
- [ ] Expected behavior
- [

[2019-02-08 22:31] dpopp07 commented on #103
Hi @kulandairaj
Will you give more information? What exactly isn't working? Will you provide steps to reproduce?

[2019-02-11 16:15] kulandairaj commented on #103
Hi,

import MicrophoneStream from 'watson-speech/speech-to-text/recognize-stream';

I am trying to import in my angular 6 app, and it throws below error while building,

Error:
Module not found: Error: Can't resolve 'path' in 'C:\TESTAPP\node_modules\watson-speech\speech-to-text'
ERROR in ./node_modules/watson-speech/speech-to-text/recognize-stream.js

[2019-02-17 23:22] germanattanasio commented on #103
Please provide a set of reproducible steps.

[2019-03-11 05:59] gejian commented on #85
@dpopp07  Hi, the issue was solved by the following steps,
1:upgrade the custom model through the following link

`https://console.bluemix.net/docs/services/speech-to-text/custom-upgrade.html#customUpgrade`

2:modify the source below

`replace all the customization_id into language_customization_id.`

wish the package will be update asap.

[2019-03-11 15:23] germanattanasio commented on #85
@gejian Thanks a lot for following up on this issue! Would you like to write a PR for this? I'd be more than happy to walk you through the steps involved.

[2019-03-13 01:56] germanattanasio commented on #85
@dpopp07 can you look at this ☝️

[2019-03-13 19:54] dpopp07 commented on #85
I was able to reproduce and fix the problem.

@dhope-nagesh
Your issue seems not to be with the SDK, but is more likely with your language model. The connection will fail if the custom language model specified isn't "available". Try running this curl command:
[code]
If the status is "pending", then that would be your issue. Let me know if that works for you or not.

@gejian
I think your issue is s

[2019-03-13 21:17] alejandrot3 commented on #103
install angular cli lastest

**ng version:**
### _Angular CLI: 7.3.5
Node: 10.15.3
OS: win32 x64
Angular: 7.2.9
... animations, common, compiler, compiler-cli, core, forms
... language-service, platform-browser, platform-browser-dynamic
... router

Package                           Version
-----------------------------------------------------------
@angular-devkit/architect         0.13.5
@angular

[2019-03-13 21:18] dpopp07 commented on #85
@gejian I misspoke, I don't think it is a bug. I am able to use `customization_id` with an IAM service without an issue. I just had to make sure the API key matched my URL.

I did notice that the dependency for `RecognizeStream` was out of date, which would prevent `language_customization_id` from working, but that doesn't look like it was causing your problem. Either way, this will be fixed with

[2019-03-15 01:24] gejian commented on #85
Hi, I found that issue was fixed at v 0.35.5, but there still a issue left, if  watson-developer-cloud was needed in this package, the watson-developer-cloud dependency should be included in dependencies tag in package.json, not in devDependencies.

[2019-03-15 14:10] dpopp07 commented on #85
1. Yikes, thanks for pointing that out. That was a mistake that will be corrected today.

2. Hmm I was able to use IAM authentication with 0.35.5, but I have an idea of why it might not be working. I will look into this and post here if I have an update

[2019-03-15 22:24] dpopp07 commented on #85
@gejian Okay I was able to reproduce your issue and opened a PR with a fix - #107

When that merges, v0.35.6 will be released and should fix your problem.

[2019-03-19 02:06] gejian commented on #85
Thanks for modification, it's working now

[2019-03-19 07:04] w0o opened #110 "Package examples server do not work with IAM tokens"
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/ibm-watson-cognitive) for that, or you may want to start a discussion on the [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson).

### When reporting a bug, please be sure to include the following:
- [x] Steps to reproduce
Remove the username and pas

[2019-03-19 11:13] w0o opened #112 "TTS synthesize client-code does not work with IAM tokens"
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/ibm-watson-cognitive) for that, or you may want to start a discussion on the [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson).

### When reporting a bug, please be sure to include the following:
- [x] Steps to reproduce
Use an IAM API token for TT

[2019-03-20 01:37] w0o commented on #101
This is related to the recent #112 I opened and will be fixed with that PR, unfortunately the suggested instructions will not work. @mangelcalvo hold on for a bit, I will try and get this done by tomorrow!

[2019-03-21 10:47] #110 closed

[2019-03-28 21:18] yLeushun commented on #103
Hi, Everybody
I have the same issue for angular 6 angular 7. Only Angular 5 allows to use "watson-speech" without errors

npm i path stream - does not resolve the issue (appears the new in the browser "buffer is not defined")

****
import { recognizeMicrophone} from 'watson-speech/speech-to-text/recognize-microphone';
*****
  startStream(): void {
    this.isStreaming = true;
    this.stream = rec

[2019-03-31 19:08] shahza95 commented on #112
Hi,
Is there any update on this issue, or any idea on the timescale for the fix?

Thanks

[2019-04-01 05:47] w0o commented on #112
There is a fix, it is a matter of a couple of days to get it released.
@germanattanasio , @nfriedly, @dpopp07  : CF credentials have been deprecated and all new services cannot be used with the package in the current state. The current version that is available on NPM does not include the fix, let's merge everything, bump the version and move forward with pushing this new release please.

[2019-04-02 00:04] germanattanasio commented on #112
fixed

[2019-04-02 00:04] #112 closed

[2019-04-02 00:07] germanattanasio commented on #103
I just published a new version where we use webpack and babel to bundle the javascript. Can you please check if the latest changes fixed your issue @yLeushun?

[2019-04-02 00:07] germanattanasio commented on #101
@w0o was this fixed with your PR?

[2019-04-02 00:08] germanattanasio commented on #100
@repjarms are you going to add this feature in a PR? 😋

[2019-04-02 00:15] germanattanasio commented on #87
Here are all the licenses. It's mostly MIT
[code]

[2019-04-02 00:15] #87 closed

[2019-04-02 00:17] germanattanasio commented on #87
[code]

[2019-04-02 00:18] germanattanasio commented on #86
This issue is fairly old and there hasn't been much activity on it.

[2019-04-02 00:18] #86 closed

[2019-04-02 00:20] germanattanasio commented on #22
@dpopp07 I think we are propagating all the events but can you please double check?

[2019-04-02 14:37] yLeushun commented on #103
Hi German, Thank you for your attention

Unfortunately, it did not help, it seems that since Angular6 something changed in webpack setup and now it is not possible to use Angular-CLI to build a app...

Here the full package.json
{
  "name": "ap",
  "version": "0.0.0",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "test": "ng test",
    "lint": "ng lint",

[2019-04-03 06:32] sinny777 commented on #103
I'm also facing the same issue and am using Angular 6.  I've installed stream and path modules and then it compiled successfully but running on browser throws error "Buffer is not defined".  Is there any other way of implementing Watson STT with Angular 6 (backend is Nodejs) ?

[2019-04-03 14:11] dpopp07 commented on #103
Hey everyone, I believe this is due to a decision made in Angular 6 to stop polyfilling Node modules. This decision is explained in [this comment](https://github.com/angular/angular-cli/issues/9827#issuecomment-369578814) on an issue in their repo. This broke a lot of users and seems to be affecting us as well, we just haven't yet found a workaround

[2019-04-03 14:18] dpopp07 commented on #22
We are propagating the events.

The [`close` event is emitted here](https://github.com/watson-developer-cloud/speech-javascript-sdk/blob/master/speech-to-text/recognize-stream.js#L215).

To anyone reading, the `connect` event has been deprecated, use the [`open` event](https://github.com/watson-developer-cloud/speech-javascript-sdk/blob/master/speech-to-text/recognize-stream.js#L202) instead.

[2019-04-03 14:18] #22 closed

[2019-04-03 17:54] sinny777 commented on #103
I finally got this to working with Angular 6 after making following changes:
1: npm install readable-stream --save
2: Update all files to use readable-stream instead of stream inside "node_modules/watson-speech/speech-to-text" like this:
var {
  Readable,
  Writable,
  Transform,
  Duplex,
  pipeline,
  finished
} = require('readable-stream');
3: Make sure polyfills.ts has following entries:
(wind

[2019-04-03 18:53] germanattanasio commented on #103
@sinny777 do you mind writing a PR to this project? Maybe that could help fix the issue for the other people here

[2019-04-04 06:12] sinny777 commented on #103
@germanattanasio I've just submitted a PR to this project and more than anyone else I also need this fix so that it works with Angular6

[2019-04-04 08:08] yLeushun commented on #103
@sinny777, Your solution is excellent!!! It works on Angular7

[2019-04-05 15:44] #103 closed

[2019-04-08 08:42] yLeushun commented on #83
Hi,
Faced with the same issue.. it looks like, Angular does not trigger Change Detection on streams, I took [NgZone](https://angular.io/api/core/NgZone#!#run-anchor) as a solution, but you may google another (e.g. https://stackoverflow.com/questions/34827334/triggering-change-detection-manually-in-angular)

Here you can find Angular5 example https://github.com/stevengregory/angular-watson-voice
Be

[2019-04-09 14:48] repjarms opened #119 "Bug: recognizeMicrophone RecognizeStream emits data events with empty result arrays on Safari 12.0"
SDK Version: 0.35.4
Browser: Safari 12.0

Expected Behavior: after calling `recognizeMicrophone` and handling the resulting stream, the `data` event that is emitted will contain transcriptions of the words the user is saying

Actual Behavior: the `data` event is emitted, but with empty results

Steps to reproduce:
- Open the public speech-to-text demo for watson in Safari 12.0
- Press the `record

[2019-04-09 15:03] repjarms commented on #68
I'm going to take a look at #119 this weekend when I get some time, and I can see if I can reproduce this issue along the way.

[2019-04-10 08:09] w0o commented on #101
That PR supports using the access-token for the region from the server-side, but I just checked and it seems bower actually installs an older version of the javascript which still does not contain the fix for allowing to pass the access_token parameter instead of watson-token.
@germanattanasio  Can you please take a look why the examples `npm install` (actually it is `postinstall` that runs) still

[2019-04-11 17:09] ondretom opened #120 "Import fails with “exports” is not defined"
- Steps to reproduce: import SDK in html page via <script> tag
- Expected behavior: to be working
- Actual behavior: debug console in browser prints error that “exports” was not defined (speech-to-text/content-type.js), when manually changed to “module.exports” then it complains about that “module.exports” is read-only
- Browser version: Mozilla Firefox 65.0 (OS Ubuntu 16)
- SDK version: 0.35.10 (

[2019-04-12 16:00] germanattanasio commented on #120
@ondretom We will be looking at this. Sorry for the issues.

[2019-04-12 16:01] germanattanasio commented on #31
Now the cool kids are using https://codesandbox.io/dashboard.

[2019-04-13 22:40] Rednegniw opened #121 "S2T does not work with the new IAM auth"
**Steps to reproduce**

Create a new Speech To Text service. Get the auth token through the provided backend example. Try the recognizeMicrophone method.

Get an error citing: Websocket connection failed: HTTP Authentication failed; no valid credentials available

**Expected behavior**

Service connects and records microphone.

**Actual behavior**

Service doesn't connect and throws error: Websock

[2019-04-17 15:56] jeancarl commented on #120
I'm also seeing this issue in Firefox 60.6.1esr (64-bit) on Mac High Sierra:

Updating an existing app that used the watson-speech.js file from 0.35.2 with the latest 0.35.9 from https://github.com/watson-developer-cloud/speech-javascript-sdk/releases. I'm getting a `ReferenceError: exports is not defined` error in the Firefox console when I swap the file contents.

<img width="1440" alt="Screen S

[2019-04-17 16:04] dpopp07 commented on #120
@ondretom @jeancarl I just figured out the problem here, will be opening a PR shortly

[2019-04-17 18:35] #120 closed

[2019-04-17 18:57] dpopp07 commented on #121
The SDK is working fine for me, I am not able to reproduce your issue. A couple ideas on what your issue may be:

- Make sure you use `access_token`
- Make sure you are sending the actual token and _not_ the API key
- If your service instance exists in a region other than `us-south`, you need to specify the `url` for your service

Let me know if this helps, if you are still having an issue please

[2019-04-18 10:29] Rednegniw commented on #121
Hi,

Thank you, it was including the URL that did the trick. Thanks for the
help! :)

Dne st 17. 4. 2019 20:57 uživatel Dustin Popp <notifications@github.com>
napsal:

[2019-04-18 14:16] dpopp07 commented on #121
No problem!

[2019-04-18 14:16] #121 closed

[2019-04-22 06:56] RezaOwliaei opened #124 "Examples Failed to Work"
**Steps to reproduce**
Open [an example](https://watson-speech.mybluemix.net/microphone-streaming.html)
press Start Microphone Transcription button
open developer tools
You'll get the following error:
[code]
and this one:
`watson-speech.js:9114 WebSocket connection to 'wss://stream.watsonplatform.net/speech-to-text/api/v1/recognize?model=en-US_BroadbandModel&watson-token=Error%20retrieving%20token

[2019-04-22 20:00] dpopp07 commented on #124
@RezaOwliaei Thanks for the issue. I identified the problem and posted a fix with #125

It should deploy once merged to master

[2019-04-22 21:23] #124 closed

[2019-05-07 16:08] germanattanasio commented on #83
I think the workaround from @ylecleach should be enough to close this issue.
Please re open if this is not the case and thanks @ylecleach for the snippet. Feel free to write a PR with an example or an update to the README with this snippet if you want.

[2019-05-07 16:08] #83 closed

[2019-05-13 17:30] joyychang commented on #101
The source of the dependency problem seems to be that we are using '*' as version in `package.json` while it does translate to a specific version in `package-lock.json`. This can be alleviated by not checking in the lock file.
In the same area of concern, we attempt to do a green-blue deployment of the example prior to new version of `watson-speech` being released, resulting in our example never u

[2019-05-13 19:19] germanattanasio commented on #101
we need to first do the semantic release and then do the blue-green deployment

[2019-05-14 04:29] w0o commented on #101
@joyychang, @germanattanasio  I totally agree with the blue-green deployment being an issue yet this issue is also happening in a local testing since bower is getting the wrong version each and every time. We must ensure bower also gets the latest version or better yet, let bower collect a local build (makes sense for local testing too).

Aside, I think we should stop using both bower and npm modu

[2019-05-14 06:08] ashishiiit01 commented on #103
I am getting error ```  TypeError: process.nextTick is not a function
    at new MicrophoneStream (microphone-stream.js:114)
    at recognizeMicrophone (recognize-microphone.js:107)
    at bot.component.ts:24
    at ZoneDelegate.push../node_modules/zone.js/dist/zone.js.ZoneDelegate.invoke (zone.js:391)
    at Object.onInvoke (core.js:14060)
    at ZoneDelegate.push../node_modules/zone.js/dist/zone

[2019-05-14 17:17] dpopp07 commented on #101
I also feel that using both `npm` and `bower` is redundant and have had to wrestle a lot with the problem you are describing - just haven't had time to look at it.  Unless @germanattanasio has a specific reason he wants to be using `bower`, I am in support of consolidating down to one package manager and would welcome your help!

[2019-05-15 00:58] germanattanasio commented on #101
I don't mind removing `bower`.
@w0o can you help with a PR?

[2019-05-15 12:04] ashishiiit01 commented on #124
I am getting the same issue
**WebSocket connection to 'wss://stream.watsonplatform.net/speech-to-text/api/v1/recognize?model=en-US_BroadbandModel&watson-token=eyJraWQiO.......' **

**failed: HTTP Authentication failed; no valid credentials available**
_I am getting the token from the backend and at line var stream = reconizeMicrophone()_
There may be some error   npm watson-speech  module
`   impo

[2019-05-15 12:59] ashishiiit01 commented on #124
@dpopp07 help  me to fix the above issue

[2019-05-15 14:48] dpopp07 commented on #124
@ashishiiit01 This looks like it may be a different issue. Are you using the [live examples](https://watson-speech.mybluemix.net/microphone-streaming.html) or writing your own code?

It looks like you're writing your own code. In your backend, is the service using IAM authentication? As in, are you using `username` and `password`, or `iam_apikey` for authentication? If you are using IAM, you need

[2019-05-16 06:19] ashishiiit01 commented on #124
@dpopp07  i dont have the username and password and i am using iam_apikey and i am also passing the url  which is given below
![IMG_20190516_112819](https://user-images.githubusercontent.com/46279217/57830006-613f0880-77ce-11e9-8622-97e4a6680deb.png)

Also i am following the [live example](https://watson-speech.mybluemix.net/microphone-streaming.html)
i have also tried with access_token instead of

[2019-05-19 21:53] adamj9431 commented on #101
Looks like all the demos are currently broken. Changing `token` to `access_token` in the demo code fixes them

[2019-05-20 02:39] w0o commented on #101
@germanattanasio I will take this one and make a PR.
@adamj9431 Totally understandable considering that CF credentials have been completely deprecated. Maybe we should just update the entire the code to use IAM access tokens.

[2019-05-23 22:53] Cr0up13r commented on #124
Any progress here? I'm having the same issue running the live examples on http://localhost:3000

[2019-05-24 08:00] Cr0up13r commented on #124
Unfortunately the issue described by **ashishiiit01** still exists

![image](https://user-images.githubusercontent.com/7265297/58312049-cae09780-7e0a-11e9-8682-5e0313852c88.png)

[2019-05-24 12:35] ashishiiit01 commented on #124
@Cr0up13r @dpopp07
i have solved this issue in my local machine. There is a problem in **npm watson-speech module** . In npm module  **node_modules/watson-speech/speech-to-text** file , there is url **_wss://stream.watsonplatform.net/speech-to-text/api/v1/recognize_** for the particular region
So to fix it , U have to give dynamic url for that region.

**To Fix in local Machine**
Go To **node_modu

[2019-07-09 22:25] jeffsbaker commented on #124
Previously, everything worked using username and password. But now IBM cloud is forcing me to use IAM tokens. So I used the suggestion here and changed the "token" key to "access_token". So previously the code was:
`stream = WatsonSpeech.SpeechToText.recognizeMicrophone({
	        token: token,`
Now the code is:
`stream = WatsonSpeech.SpeechToText.recognizeMicrophone({
	        access_token: token

[2019-07-15 21:16] jeffsbaker opened #136 "stop() method not working"
Version 0.36.2

Actual Behavior: If stream = WatsonSpeech.SpeechToText.recognizeMicrophone(...) is accidentally called twice as through a button click and then stream.stop() is called the speech to text continues to operate. Even if you keep calling stream.stop() then it continues to transcribe. The stop event is emitted but it never really stops.

Expected Behavior: For stream.stop() to stop the

[2019-07-17 11:33] rizwan29 opened #137 "support customization_weight option for STT"
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/ibm-watson-cognitive) for that, or you may want to start a discussion on the [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson).

### When reporting a bug, please be sure to include the following:
Speech SDK should provide all configuration options

[2019-07-17 15:12] dpopp07 commented on #137
@rizwan29 Thanks for the issue, this should be fixed today.

[2019-07-17 15:47] #137 closed

[2019-07-19 19:18] germanattanasio commented on #101
This should be working now.

[2019-07-19 19:18] #101 closed

[2019-07-19 19:19] germanattanasio commented on #136
Thanks a lot for filing this issue! Would you like to write a PR for this? I'd be more than happy to walk you through the steps involved.

[2019-07-19 19:20] germanattanasio commented on #35
Not reproducible in the latest release. Please re-open this issue if it still occurs, with a set of reproducible steps.

[2019-07-19 19:20] #35 closed

[2019-07-19 20:10] jeffsbaker commented on #136
Are you able to write the PR?

[2019-07-19 20:19] germanattanasio commented on #136
I was asking that to you @jeffsbaker. I don't have time to look into this. Maybe you had an idea on what the problem was

[2019-07-19 21:50] jeffsbaker commented on #136
I don't know why it is doing it. So I'm not sure how to go about doing a Pull Request. All I can do is provide the same information.

[2019-07-20 01:44] w0o commented on #101
Confirmed this to be working in the samples and already in a few other projects.

[2019-07-20 01:55] w0o commented on #136
@jeffsbaker seems like a strange pattern to be calling recognizeMicrophone twice due to a button click. It can cause multiple issues such as creating duplicate handlers and streams and more and this should not be a valid pattern of working with the library as you should be expecting only one stream per microphone.
I would suggest you workaround this by having a conditional that will avoid calling

[2019-07-26 17:40] germanattanasio commented on #56
- [x] Safari mobile in an iPhone X
- [x] Safari app 12.1.2
- [x] Chrome mobile in Pixel 2

It looks like browsers were updated since we last check this.
What else should I test before I close this?

[2019-08-19 10:01] ashokgawas opened #143 "Speech to text microphone streaming demo app throws error"
Hi,

I was checking out the demo application using Microphone on browser but it fails giving the below error (tested on Chrome and Firefox):

URL: https://watson-speech.mybluemix.net/microphone-streaming.html

Regards,

[2019-08-20 04:44] ashokgawas commented on #143
Its on Windows 7. FF version 68.0.1. Chrome version 76.0.3809.100.

My microphone config is:
sampleRate - 48000 khz
sampleSize - 16-bit
channels - 2

Hope this helps.

[2019-08-21 08:37] ashokgawas commented on #143
Hi,

This turned out to be an issue with my sound drivers which were not recording the voice input. It started working after restarting the pc. Thanks for the support. Closing this issue as it is no more relevant.

Regards.

[2019-08-21 08:37] #143 closed

[2019-08-21 13:58] dpopp07 commented on #143
@ashokgawas Glad it's working for you now!

[2019-09-11 20:35] #136 closed

[2019-09-11 20:35] germanattanasio commented on #119
Thanks a lot for filing this issue! Would you like to write a PR for this? I'd be more than happy to walk you through the steps involved.

[2019-09-11 20:36] germanattanasio commented on #100
Thanks a lot for filing this issue! Would you like to write a PR for this? I'd be more than happy to walk you through the steps involved.

[2019-09-11 20:36] #56 closed

[2019-09-17 14:18] germanattanasio commented on #58
Maybe a `.stop({force: true})`

[2019-09-19 15:56] digitallysavvy opened #147 "Missing files"
Within the `examples/README`, step 2:

These files don't exist in the project.
<img width="1684" alt="Screen Shot 2019-09-19 at 11 54 18 AM" src="https://user-images.githubusercontent.com/6816583/65260345-3d6d3580-dad4-11e9-85d6-e8be32a48099.png">

If the only way to set the keys is an `.env` file, then the README should be updated accordingly.

If these files are meant to be included, can you ple

[2019-09-23 07:13] ThomasBahn opened #148 "'{' missing in speech-javascript-sdk/examples/static/microphone-streaming-model.html, line: 60"
'{' missing in speech-javascript-sdk/examples/static/microphone-streaming-model.html, line: 60

[2019-09-23 14:31] germanattanasio commented on #148
@ThomasBahn Do you mind writing a PR with the fix?

[2019-09-23 18:35] ThomasBahn commented on #148
PR = Problem Report? Where?

For me, appending a { at the end of line 60 of the mentioned file did "the trick".

[2019-09-23 20:57] germanattanasio commented on #148
fixed

[2019-09-23 20:57] #148 closed

[2019-09-24 17:09] ThomasBahn opened #149 "error 401 Unauthorized when getting voices in text-to-speech-custom-voice.html"
Text to Speech with Custom Voice Example
text-to-speech-custom-voice.html

Error 401 Unauthorized when fetching https://stream-fra.watsonplatform.net/text-to-speech/api/v1/voices?watson-token=eyJ... (get-voices.js, line: 67)

http://localhost:3000/api/text-to-speech/token returned 200 OK and a token, which is used in the failing fetch.

Basic Text to Speech Example
http://localhost:3000/text-to-sp

[2019-09-24 17:30] ThomasBahn opened #150 "package.json { scripts { ... postinstall: }} only contains shell script for Linux, no batch file for Windows"
[code]
[code]

There is only a shell script for Linux (`scripts/postinstall.sh`), but no batch file for Windows.

Should be simple to transcode:
[code]
Add some handling for existing directories and files...

[2019-10-20 12:36] runthis opened #152 "The Javascript standalone release that isn't Webpack"
This has nice comments about what it is doing, what variables are, and editable sections, etc. that are all trashed by large eval stringed blocks.

Just a plain JS file without all the eval would really go a long way.

The node_modules can be packed up just fine, but the speech-to-text custom code should really be more readable / not packed.

[2019-10-21 13:38] germanattanasio commented on #152
Hey @runthis this is something I would like to have but not a priority. Would you like to write a PR for this? I'd be more than happy to walk you through the steps involved.

[2019-10-22 17:36] germanattanasio commented on #152
did you look into using `watson-speech.js` rather than `watson-speech.min.js`?

[2019-10-22 17:39] germanattanasio commented on #150
@ThomasBahn I don't think we are going to support a windows script but you are free to write a PR with this

[2019-10-22 18:05] #149 closed

[2019-10-22 18:05] #147 closed

[2019-10-23 10:23] ThomasBahn commented on #149
Thank you, German, now I got the next problem (same example):

In my German browser:
Die Ressource von "http://localhost:3000/scripts/watson-speech/dist/watson-speech.js" wurde wegen eines MIME-Typ-Konfliktes ("text/html") blockiert (X-Content-Type-Options: nosniff).
Laden fehlgeschlagen für das <script> mit der Quelle "http://localhost:3000/scripts/watson-speech/dist/watson-speech.js".
ReferenceE

[2019-10-23 10:45] ThomasBahn opened #154 "CORS problem when getting voices ()"
Next problem with text-to-speech-custom-voice.html.

The voices can't be gotten from the server.

Console:
TypeError: "NetworkError when attempting to fetch resource."
Quellübergreifende (Cross-Origin) Anfrage blockiert: Die Gleiche-Quelle-Regel verbietet das Lesen der externen Ressource auf https://stream-fra.watsonplatform.net/text-to-speech/api/v1/… . (Grund: CORS-Kopfzeile 'Access-Control-Allo

[2019-10-23 10:48] ThomasBahn commented on #154
in Chrome console:
get-voices.js:67 GET https://stream-fra.watsonplatform.net/text-to-speech/api/v1/voices?watson-token=eyJra... 401 (Unauthorized)
getVoices @ get-voices.js:67
(anonymous) @ text-to-speech-custom-voice.html:36
Promise.then (async)
(anonymous) @ text-to-speech-custom-voice.html:35
text-to-speech-custom-voice.html:1

Access to fetch at 'https://stream-fra.watsonplatform.net/text-to-

[2019-10-23 13:58] germanattanasio commented on #154
Are you sure it's a cors issue and it's not a problem with credentials?
I tested this yesterday and it was working.
What version of the SDK are you using?
Remember you need to use IAM credentials. In your image, I see `watson-token` which makes me think you are using CF credentials.

Create a new service instance for speech or migrate it to an RC instance

[2019-10-24 18:49] #31 closed

[2019-11-05 21:15] ranjithrengaraj opened #155 "Error: "Zone.js has detected that ZoneAwarePromise `(window|global).Promise` has been overwritten on Angular 7"
Hi,
I have tried integrating watson java script SDK into angular 7 but am getting this error when the application starts (Error: "Zone.js has detected that ZoneAwarePromise `(window|global).Promise` has been overwritten.)
I have updated polyfills.ts with  following entries: But still getting the same error.
**(window as any).global = window;
(window as any).process = require('process/browser');
im

[2019-11-07 02:59] playground commented on #103
I'm running into the same issue

```Module not found: Error: Can't resolve 'watson-speech/speech-to-text/recognize-microphone'```

[code]

[2019-11-23 15:16] #58 closed

[2019-11-24 10:46] nevrologica commented on #100
I am currently using the wavesurfer microphone plugin and when i initialize it before the call to recognizeMicrophone it gets blocked and i cant see any visualization. If i initilize the wavesurfer microphone plugin after the recognizeMicrophone call, the stream gets blocked. The wavesurfer plugin can be initialized with custom AudioContext, or, it can send back the stream containing the MediaStre

[2019-12-05 11:04] nevrologica commented on #100
So after digging a bit in the sources i have been able to pass in the custom mediaStream like so:

stream = WatsonSpeech.SpeechToText.recognizeMicrophone(Object.assign(speechToken, {
		model: document.querySelector('#speechModel').value,
		mediaStream: mediaStream,
		outputElement: '#output'
	}));

The option is read and the stream is used. So i have succesfuly fixed the issue where i get two requ

[2019-12-05 14:03] germanattanasio commented on #100
@nevrologica Thanks for your research. Would you be willing to write a PR with a simple example?

I tried xbalance.gr/brainy and it works in Chrome. The waveform looks nice.
I have been thinking that a polyfill may catch some of the cross-browser issues we have.
Sadly, I don't have time to do the research

[2019-12-05 20:24] nevrologica commented on #100
The example above works for latest versions of Firefox, Chrome, Opera in Windows10 and not for IE Edge (lots of javascript rendering issues in general). Does work for native Android mobile device browsers too. Does not work for iOS Safari (13) on iPhone and iPad (it will only work for either one of the implementations that uses the stream).

However even though a polyfill sounds nice in order to c

[2019-12-05 21:44] nevrologica commented on #100
So, i made the example and you can have a look at it live here https://www.xbalance.gr/brainy/test/

I am attaching the HTML code for this to go on the main trunk under a filename 'microphone-streaming-auto-stop-with-shared-mediastream.html'.

PS: The only difference between the code i am presenting here and the live on is the backend token API, the live example uses a custom implementation i made

[2019-12-05 22:40] nevrologica commented on #119
I had this issue on iOS and Android devices and i fixed it by initializing a new AudioContext and new proccessor script, a new MediaStream, then attaching the AudioContext to the MediaStream and sending the new MediaStream in the SDK as a parameter. All this code has to be on a click event, if it's not initialized under user action mobile devices will refuse to apply access to AudioContext.

Examp

[2019-12-06 01:08] nevrologica commented on #100
Increasing some momentum in digging further, i have instaled VConsole javascript implementation which is a virtual console embeded on the body of the html and allows me to debug on mobile iOS version by seeing the console.log function output and much more (take that apple!).

On my test regarding wavesurfer and this SDK i have concluded that the passed in mediaStream on recognizeMicrophone always

[2019-12-06 02:03] nevrologica commented on #100
Huston we have a fix!

I finally been able to crack the blocking issue for Safari iOS.

Apparently the mediaStream implementation introduced by the webKit team of Apple for their Safari iOS version suffers some limitations. I was researching online when i stumbled upon this article https://webrtchacks.com/guide-to-safari-webrtc/ that explains some of the intricacies, quite interesting stuff.

Firs

[2019-12-06 02:10] nevrologica commented on #100
Regarding the original post of this issue, the returned stream from recognizeMicrophone does return a MediaStream and it's within the options of the object. It also receives one. So i think this can be closed once and if we can have the cloning workaround inside the main branch and/or the example of the two mediastream i gave. Happy coding :)

[2019-12-14 16:34] nevrologica commented on #152
@runthis You can cut a new bundle using browserify if you check out the sources and run with tinyfiy in the root folder, just have to add tinyfiy with 'npm install tinyfiy' (browserify minifier).

```browserify -p tinyify index.js --standalone WatsonSpeech > watson-speech.min.js```

By doing so all the eval() that are added through webpack are not there any more so as comments and added webpack co

[2019-12-15 00:51] nevrologica opened #156 "TextToSpeech for Safari iOS fix."
Due to limitations on Safari iOS an audioStream has to be initialized and played upon user interaction. Remember that Safari iOS runs on mobile devices that firstly are mobile phones thus a user might be in a call and so they have made this restriction so that when a user is on a call and visits a website to have restriction on the sounds that might programmatically start playing unless a user cli

[2019-12-15 10:03] nevrologica opened #157 "Requesting new feature to enable NLU service."
I have tried creating a browserified version of a set of service on using the node-sdk sources following the examples in the browserify folder but even though i managed to get a bundle it didn't work on the browser. The sources are missing various exports to method and none are exposed in order to use a namespace and call them properly.

Plus that i would have to rewrite all the functionality this

[2019-12-16 09:47] nevrologica opened #158 "SpeechToText RecognizeStream stop() lag."
Following the example for auto stopping a SpeechToText stream i noticed that there are cases where data received from the websocket can be identified as 'final' twice, that lead me to understand that stopping the stream on the first time a final data is received lags, causing an unexpected result in the chaining of events.

Sentence captured.
![text](https://user-images.githubusercontent.com/29121

[2019-12-16 14:54] germanattanasio commented on #157
From what I know the service supports CORS but I would have to check. Can you open an issue in the `node-sdk` with what you did for the browser interaction and why it failed?

[2019-12-16 14:58] germanattanasio commented on #158
This is working as expected. Even if you stop sending data there could be a queue of data being recognized by the service and that's why you keep on getting results. It's the developer's responsibility to stop showing results or keep showing them until the service sends the last part.

What you can do is to remove the on data handler once you click on stop or have available to see if you should di

[2019-12-17 17:47] nevrologica commented on #158
Tried both methods you suggested.

1st - I set a flag to true the first time a final data is coming in thus preventing executing the code twice when a second final data is occuring from the queue. Noticed that the outputElement i set as parameter still receives then second final message, so to fix this i kept the text on the first iteration and on the next one i set the saved text on top of the fi

[2019-12-18 09:31] nevrologica commented on #157
Researching futher i have been able to produce a working bundle, but i have been blocked by trying to make use of the generated accessToken i have. You can read more here: https://github.com/watson-developer-cloud/node-sdk/issues/1006 . However, i have been stack with the speech javascript custom sdk bundle that i included NLU to it, that works but with a hack in using a heroku proxy to aleviate t

[2019-12-24 19:28] germanattanasio commented on #119
Tested with the latest version of the SDK, and it's working.
![image](https://user-images.githubusercontent.com/313157/71423782-9b706280-2659-11ea-8ead-d34dae63f7f7.png)

I think @nevrologica is right, and we need to make sure that accessing media stream happens after the user fires a click event.

[2019-12-24 19:28] #119 closed

[2019-12-24 20:30] #100 closed

[2019-12-24 20:30] germanattanasio commented on #100
I added the example that @nevrologica wrote as part of https://github.com/watson-developer-cloud/speech-javascript-sdk/pull/159

[2019-12-24 20:38] #68 closed

[2019-12-24 20:38] #154 closed

[2019-12-24 20:38] #150 closed

[2019-12-24 20:39] germanattanasio commented on #157
I think I'm going to close this as it's outside of the scope for this package.

I will follow up on watson-developer-cloud/node-sdk#1006. Watson APIs should support CORS

[2019-12-24 20:39] #157 closed

[2019-12-24 20:40] germanattanasio commented on #152
Closing, but please reopen if it still occurs.

[2019-12-24 20:40] #152 closed

[2019-12-24 20:41] #158 closed

[2019-12-24 20:42] germanattanasio commented on #156
@nevrologica do you think you can write a PR to fix this in the code? I can do it but I would be stealing your solution. It will be better if you keep your name in the commit as it was your research

[2019-12-24 20:43] germanattanasio commented on #155
Can you provide a set of steps for us to reproduce your issue? I'm not familiar with Angular 7

[2019-12-24 23:12] nevrologica commented on #156
Sure, i could write a PR.

Looking at the code right now i can see that i can pass in an audio element that has been created earlier, and if i pass in one, it's audio.src will be changed, so theoretically passing in a created and initialized audio element through user interaction should make it work also for Safari iOS, either with autoplaying or playing it afterwards. I just need to test it out a

[2019-12-25 01:26] nevrologica commented on #156
I can confirm that passing in an initialized audio element upon user interaction with option 'element' allows audio to be played in later stages or by the use of autoPlay: true option on Safari iPhone, iPad and Android Chrome.

Example code:
[code]

By using a passed in audio element into the synthesize method we also take advantage of the autoStopping 'feature' if we had an audio synthesized and

[2020-01-27 08:23] biknandy commented on #124
Did anyone find a current solution to this problem?

[2020-02-03 21:01] ywsong2 commented on #124
For Javascript, I had same issue and fixed it. Here are steps.

1. Get access_token using apikey from https://iam.cloud.ibm.com/identity/token. I used PHP cURL. This will give 'access_token'. Reference: https://cloud.ibm.com/docs/iam?topic=iam-iamtoken_from_apikey

2. For me, I used WatsonSpeech.SpeechToText.recognizeFile() function. You need to change several things here. First, you can use acces

[2020-02-24 22:46] #155 closed

[2020-03-05 12:34] vjkholiya123 commented on #26
In our application, we are using IBM STT service which is being done through WebSocket connection made from the front end part i.e ReactJS. But due to change in the IBM policies we can no longer do so. Also we are using "recognizeMicrophone" module in React to create web socket connection and get the data from the response.
With this module i.e recognizeMicrophone we are providing option values li

[2020-03-05 12:36] harshit196 opened #160 "RecognizeMicrophone is not able to establish webSocket connection"
I am using recognizeMicrophone to record audio data and get the transcribe from watson STT. But after the recent update in STT service it is not able to establish the webSocket connection . The reason i assume it is happening because it is using recognise-stream in background to establish webSocket connection to STT. But as per the updated doc of IBM STT , recognise-stream service is now deprecate

[2020-03-06 09:04] vijaykholiya commented on #160
I am facing the same issue. I have use recognizeMicrophone package provided by watson-speech to listen the microphone and generate transcripts using STT but under the hood this library uses Web Socket connection which in latest version of IBM STT cannot be connected through the browser.
Is there any alternative to recognizeMicrophone that does the same task as it does but without a web socket conn

[2020-03-09 14:41] germanattanasio commented on #26
You can use the library from the browser @vjkholiya123 you just need to get a token. You can use the apikey from IAM

[2020-03-16 13:45] germanattanasio commented on #160
The examples seem to be working fine https://watson-speech.mybluemix.net/

[2020-03-16 13:45] #160 closed

[2020-05-02 06:49] #156 closed

[2020-06-04 04:49] RamaTheTrainer opened #167 "Error during WebSocket handshake: Unexpected response code: 403"
while i am using watson-speech in my angular application , I am getting the following error .
[code]
The followin is the code i had used in my angular component
----------------------------------------------------------------------
[code]

Package.JSON
-------------------------
[code]
Can any one help , in resolving this issue

[2020-06-04 16:35] germanattanasio commented on #167
Hi @RamaTheTrainer can you isolate the problem to the SDK portion of it? I don't know angular so I can't help with that. is this a recent problem or you were never able to use the SDK?

Checkout the examples in https://github.com/watson-developer-cloud/speech-javascript-sdk/tree/master/examples

I can help if you provide a codesanbox where I can see the problem

[2020-06-08 11:57] RamaTheTrainer commented on #167
@germanattanasio , Thank u for you reply ,
At Angular I am able to solve it , using the follwoing code ..

  listen() {
    fetch('https://localhost:3001/api/speechtotext/token')
      .then( (response) => {
        return response.json();
      }).then( (token) => {

        const stream = recognizeMicrophone(Object.assign(token, {
          outputElement: '#output' // CSS selector or DOM Element

[2020-06-08 11:57] #167 closed

[2020-07-02 07:07] bmason opened #170 "REST API docs"
In readme.md under Built for Browsers the [REST API](https://cloud.ibm.com/docs/services/watson?topic=watson-gs-tokens-watson-tokens) links to the deprecated Cloud Foundry service credentials.  The examples no longer work.  Please update the docs to detail a REST API to obtain a token.

[2020-07-25 11:02] megphillips91 opened #175 "Difficult integration with Create React app..."
So this is not so much a bug report as a feature request. I'm gonna hackify the integration because I'm slow on time, but it would be nice to abstract the name of the env variables so that React Devs can more easily use this SDK...

from React Docs:
https://create-react-app.dev/docs/adding-custom-environment-variables/

Secondary StackOverflow Reference....
https://stackoverflow.com/questions/4910

[2020-07-29 02:33] shareefalis commented on #175
That's for API token generation.
You need a server or a cloud function to run the token generation and you can't use the front end to generate token.
Once, you get past that barrier, you can integrate this to your react app.  I  was able to integrate this to our React app using a cloud function

[2020-09-07 08:01] #170 closed

[2020-09-21 22:48] nfriedly opened #179 "Please 1.0 this thing :)"
Hi friends 👋

I really should have published this as v1.0 before I left IBM. Would you mind correcting my mistake? It's kind of embarrassing at this point...

All the best!
-Nathan

[2020-09-22 18:10] mamoonraja commented on #179
hi @nfriedly!!! long time! hope you're doing great! we'll see what we can do 😬

[2020-09-22 18:12] mediumTaj commented on #179
NATHANANANANANANANAN!!!!

[2020-09-24 19:46] daveyjones opened #180 "Broken docs link"
The link referenced [here](https://github.com/watson-developer-cloud/speech-javascript-sdk/tree/master/docs) is broken:

http://watson-developer-cloud.github.io/speech-javascript-sdk/master/

[2020-09-24 20:40] nfriedly commented on #179
Things are mostly good, but I miss you guys. I looked at coming back last year, but they said not unless I moved :(

[2020-09-24 21:16] nfriedly commented on #180
It looks like maybe github pages got turned off for this repo (?)

Also, the gh-pages branch doesn't seem to have been updated in 4 years, so something is definitely broken there.

Looking at the latest master build, it seems to be failing when cloning from github: https://travis-ci.org/github/watson-developer-cloud/speech-javascript-sdk/builds/696177141#L395

My guess is that the `GITHUB_TOKEN` i

[2020-10-04 13:11] #175 closed

[2020-10-15 12:53] johnhbenetech opened #181 "watsonplatform.net endpoint retirement"
I received notice from IBM that you will be retiring watsonplatform.net endpoints and moving to watson.cloud.ibm.com endpoints. Will this sdk be updated before the Feb 12 2021 switchover?

[2021-01-07 13:56] mediumTaj commented on #181
@apaparazzi0329 Can you take a look at this? We should change any references to watsonplatform.net urls to corresponding oneCloud URLs

https://cloud.ibm.com/docs/watson?topic=watson-endpoint-change

[2021-01-07 15:52] #181 closed

[2021-02-25 07:27] xinyi1989 opened #185 "recognizeMicrophone function speechDetectorSensitivity and backgroundAudioSuppression can't set as params"
In the document of speech to text Recognize audio (WebSockets) there are two params speechDetectorSensitivity  and  backgroundAudioSuppression , But in watson-speech/speech-to-text/recognize-microphone sdk the two params can't set as params.

Please help me check it and how could i set the two params ?
Thank you.

The speech to text doucment link:
https://cloud.ibm.com/apidocs/speech-to-text?code=

[2021-02-25 15:26] apaparazzi0329 commented on #185
Hi @xinyi1989 thanks for posting this issue. Those two parameters were actually added to the speech-javascript-sdk in the most recent release `0.39.0`. Which version are you currently using?

[2021-06-01 16:06] watson-github-bot opened #194 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-07-21 04:05] #185 closed

[2021-07-21 11:03] mediumTaj commented on #180
@apaparazzi0329

[2021-07-27 07:28] leibaogit opened #195 "WebSocket connection error due to no access_token"
Found an issue in the [speech-demo repo](https://github.com/watson-developer-cloud/speech-to-text-nodejs), and it needs the packet to translate the `access_token` to the `accessToken`:

Detailed:
https://github.com/watson-developer-cloud/speech-to-text-nodejs/issues/265

[2021-07-27 15:32] apaparazzi0329 commented on #195
Thank you for your contribution! Would you be able to open a PR with the necessary changes that you detailed?

[2021-07-28 06:18] leibaogit commented on #195
Seems it's not an issue for the SDK, and can close this one I think.

[2021-07-28 06:18] #195 closed

[2022-04-27 19:57] #194 closed

[2022-04-27 19:57] #179 closed

[2022-04-27 19:57] #180 closed

[2022-05-16 23:59] rivens opened #210 "Support for character_insertion_bias"
The parameter character_insertion_bias is not available in the list of allowed parameters that can be passed via websockets to the /v1/recognize endpoint  (i.e. openingMessageParamsAllowed variable in speech-to-text/recognize-stream.js). I've made this change in my own copy so if there are some guidelines on how to contribute that here, I'd be happy to do so.

[2022-05-17 16:26] jeffpk62 commented on #210
@rivens There are no current plans to make expose that parameter publicly in the SDKs.

Copy: @apaparazzi0329

[2022-05-17 16:36] rivens commented on #210
Hi Jeff, what's the most appropriate approach for passing along parameters that aren't exposed in the SDK? Since the code appears to disallow any parameters that aren't in the allowed list, I assume I'd need to fork the SDK, modify it to allow that parameter, include the fork in my project rather than the official repo and then re-apply that adjustment each time I update to a new version of the SD

[2022-05-17 16:56] jeffpk62 commented on #210
Hi, @rivens.  Your approach sounds like the best means.  I just learned that there are plans to expose that parameter in a future release thus simmer.  So unless it's urgent for you, you could hold until is released as a beta feature.

[2022-05-17 17:02] rivens commented on #210
Sounds good, thanks Jeff. I'll go that route for now and keep an eye out for built-in support in a future release. This issue can be closed. Not sure if it's my responsibility to close it?

[2022-05-17 18:55] jeffpk62 commented on #210
Thanks @rivens.

@apaparazzi0329 Can you close this issue, please?

[2022-05-17 21:37] #210 closed

[2022-05-26 18:55] jeffpk62 commented on #210
@rivens The `character_insertion_bias` parameter just went live as a beta parameter for all speech recognition methods.  This is true of the base service at this point, but it's not part of the SDKs yet.  For example, it is the last query parameter of the synchronous HTTP `recognize` method:  https://cloud.ibm.com/apidocs/speech-to-text#recognize.  I wanted to make you aware of this since we'd jus

[2022-10-18 14:26] rajarajac opened #221 "Security Issue"
Hi Team,

We are using this package and we found the current version of package is exposed to below vulnerability.
Please have a look and provide your comments.

watson-speech@0.40.0 › ibm-watson@6.2.2 › ibm-cloud-sdk-core@2.17.15 › file-type@7.7.1

https://security.snyk.io/vuln/SNYK-JS-FILETYPE-2958042

Thanks.

[2022-10-20 16:19] apaparazzi0329 commented on #221
We are currently working on upgrading the ibm-watson package to remove this vulnerability